Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

Update developer quickstart
  docs/Developer_Quickstart.md
Due: none

Clean up version pinnings and move election from web3 to ethers
  demos/election/package.json
  demos/election/src/app.js
  demos/pet-shop/package.json
  demos/pet-shop/src/app.js
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-go/go.mod
  packages/arb-compiler-evm/tests/sol-syscall/package.json
  packages/arb-provider-ethers/.eslintrc.js
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-provider-go/go.mod
  packages/arb-provider-truffle/package.json
  packages/arb-provider-web3/ethers-web3-bridge.js
  packages/arb-provider-web3/package.json
  packages/arb-util/go.mod
  packages/arb-util/go.sum
  packages/arb-util/value/codePoint.go
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
  yarn.lock
Due: arb-avm-cpp, arb-avm-go, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

Fix CodePoint hashing
  packages/arb-util/value/codePoint.go
  packages/arb-util/value/serialization.go
  packages/arb-util/value/values.go
Due: arb-util

Loosen python requirement of black to support python 3.7
  .pre-commit-config.yaml
Due: none

Added error handling for invalid machine file.
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-validator/loader/loader.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-validator

Fixed error handling.
  packages/arb-validator/testmachine/machine.go
Due: arb-validator

Linting ethbridge with solium
  packages/arb-bridge-eth/.soliumignore
  packages/arb-bridge-eth/.soliumrc.json
  packages/arb-bridge-eth/contracts/ArbBalanceTracker.sol
  packages/arb-bridge-eth/contracts/ArbMachine.sol
  packages/arb-bridge-eth/contracts/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/ArbValue.sol
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/IChallengeManager.sol
  packages/arb-bridge-eth/contracts/IVMTracker.sol
  packages/arb-bridge-eth/contracts/MerkleLib.sol
  packages/arb-bridge-eth/contracts/Migrations.sol
  packages/arb-bridge-eth/contracts/OneStepProof.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
Due: arb-bridge-eth

More solium linting
  packages/arb-bridge-eth/contracts/ArbBalanceTracker.sol
  packages/arb-bridge-eth/contracts/ArbMachine.sol
  packages/arb-bridge-eth/contracts/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/ArbValue.sol
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/MerkleLib.sol
  packages/arb-bridge-eth/contracts/OneStepProof.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
Due: arb-bridge-eth

Added error handling for invalid machine file. (#18)
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-validator/loader/loader.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-validator

Switch openzeppelin-solidity to @openzeppelin/contracts
  packages/arb-bridge-eth/contracts/ArbBalanceTracker.sol
  packages/arb-bridge-eth/contracts/ArbValue.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/truffle-config.js
  yarn.lock
Due: arb-bridge-eth

Switched from ethpm setup to npm
  packages/arb-bridge-eth/contracts/ArbMachine.sol
  packages/arb-bridge-eth/contracts/ArbValue.sol
  packages/arb-bridge-eth/contracts/OneStepProof.sol
  packages/arb-bridge-eth/installed_contracts/bytes/contracts/AssertBytes.sol
  packages/arb-bridge-eth/installed_contracts/bytes/contracts/BytesLib.sol
  packages/arb-bridge-eth/installed_contracts/bytes/contracts/Migrations.sol
  packages/arb-bridge-eth/installed_contracts/bytes/ethpm.json
  packages/arb-bridge-eth/installed_contracts/bytes/lock.json
  packages/arb-bridge-eth/installed_contracts/bytes/lock.uri
  packages/arb-bridge-eth/installed_contracts/seriality/LICENSE
  packages/arb-bridge-eth/installed_contracts/seriality/README 3.md
  packages/arb-bridge-eth/installed_contracts/seriality/README.md
  packages/arb-bridge-eth/installed_contracts/seriality/contracts/BytesToTypes.sol
  packages/arb-bridge-eth/installed_contracts/seriality/contracts/Seriality.sol
  packages/arb-bridge-eth/installed_contracts/seriality/contracts/SizeOf.sol
  packages/arb-bridge-eth/installed_contracts/seriality/contracts/TypesToBytes.sol
  packages/arb-bridge-eth/installed_contracts/seriality/samples/SerialitySample.sol
  packages/arb-bridge-eth/installed_contracts/seriality/samples/StringsReturn.sol
  packages/arb-bridge-eth/installed_contracts/seriality/tests/SerialitySample.sol
  packages/arb-bridge-eth/installed_contracts/seriality/tests/StringsReturn.sol
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/truffle-config.js
  yarn.lock
Due: arb-bridge-eth

Add truffle dev dependency to ethbridge
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: arb-bridge-eth

Remove timebounds checking from unanimous assertion
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-provider-ethers/src/lib/VMTracker.json
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/coordinator/txtracker.go
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethbridge/verifierRPC/rpc.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/ethvalidator/follower.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/state/disputable.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Have `ArbBalanceTracker.hasFunds` return a bool instead of throwing
  packages/arb-bridge-eth/contracts/ArbBalanceTracker.sol
  packages/arb-bridge-eth/contracts/ArbMachine.sol
  packages/arb-bridge-eth/contracts/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/ArbValue.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-bridge-eth/package.json
  packages/arb-validator/ethbridge/challengeRPC/rpc.go
  packages/arb-validator/ethbridge/verifierRPC/rpc.go
Due: arb-bridge-eth, arb-validator

Add truffle-flattener command for flattening ethbridge
  .gitignore
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: arb-bridge-eth

Cleanup and update versions
  demos/election/package.json
  demos/pet-shop/package.json
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/cavm/CMakeLists.txt
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-avm-go/go.mod
  packages/arb-avm-go/go.sum
  packages/arb-bridge-eth/package.json
  packages/arb-provider-go/go.mod
  packages/arb-util/go.sum
  packages/arb-validator/go.mod
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-provider-go, arb-util, arb-validator

Clean up arb-avm-cpp includes
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/codepoint.hpp
  packages/arb-avm-cpp/avm/include/avm/datastack.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/pool.hpp
  packages/arb-avm-cpp/avm/include/avm/tokenTracker.hpp
  packages/arb-avm-cpp/avm/include/avm/tuple.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/bigint.cpp
  packages/arb-avm-cpp/avm/src/codepoint.cpp
  packages/arb-avm-cpp/avm/src/datastack.cpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/pool.cpp
  packages/arb-avm-cpp/avm/src/tuple.cpp
  packages/arb-avm-cpp/avm/src/util.hpp
  packages/arb-avm-cpp/avm/src/value.cpp
Due: arb-avm-cpp

More arb-avm-cpp cleanup
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/bigint.hpp
  packages/arb-avm-cpp/avm/include/avm/codepoint.hpp
  packages/arb-avm-cpp/avm/include/avm/opcodes.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/bigint.cpp
  packages/arb-avm-cpp/avm/src/bigint_utils.hpp
  packages/arb-avm-cpp/avm/src/codepoint.cpp
  packages/arb-avm-cpp/avm/src/datastack.cpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/pool.cpp
  packages/arb-avm-cpp/avm/src/tokenTracker.cpp
  packages/arb-avm-cpp/avm/src/tuple.cpp
  packages/arb-avm-cpp/avm/src/util.hpp
  packages/arb-avm-cpp/avm/src/value.cpp
  packages/arb-avm-cpp/cavm/CMakeLists.txt
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/opcodes.cpp
  packages/arb-avm-cpp/tests/value.cpp
  packages/arb-avm-cpp/utils/CMakeLists.txt
  packages/arb-avm-cpp/utils/bigint_utils.cpp
  packages/arb-avm-cpp/utils/bigint_utils.hpp
Due: arb-avm-cpp

Remove arb-util replace rule
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-avm-go/go.mod
  packages/arb-avm-go/go.sum
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
Due: arb-avm-cpp, arb-avm-go, arb-validator

Remove go replace rules
  packages/arb-provider-go/go.mod
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
Due: arb-provider-go, arb-validator

Update version tag
  packages/arb-compiler-evm/setup.py
Due: arb-compiler-evm

Update quickstart
  docs/Developer_Quickstart.md
  packages/arb-avm-cpp/README.md
  packages/arb-avm-cpp/utils/bigint_utils.cpp
  packages/arb-provider-go/go.mod
Due: arb-avm-cpp, arb-provider-go

Remove boost system dependency
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/utils/CMakeLists.txt
Due: arb-avm-cpp

Use webpack-node-externals to fix webpack with yarn workspaces
  demos/election/package.json
  demos/election/webpack.config.js
  demos/pet-shop/package.json
  demos/pet-shop/webpack.config.js
  yarn.lock
Due: none

Revert "Merge pull request #62 from OffchainLabs/fix-demos-webpack"
  demos/election/package.json
  demos/election/webpack.config.js
  demos/pet-shop/package.json
  demos/pet-shop/webpack.config.js
  yarn.lock
Due: none

Add yarn build step to build typescript
  docs/Developer_Quickstart.md
  package.json
Due: none

Refactor ChallengeManager into library
  packages/arb-bridge-eth/contracts/Bisection.sol
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/ethbridge/challengeRPC/rpc.go
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/state/disputable.go
Due: arb-bridge-eth, arb-validator

Simplify and clean up cpp balance tracker
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/tokenTracker.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/tokenTracker.cpp
  packages/arb-avm-cpp/tests/balanceTracker.cpp
Due: arb-avm-cpp

Properly clone message stacks
  packages/arb-util/protocol/inbox.go
  packages/arb-validator/testmachine/machine.go
Due: arb-util, arb-validator

Refactor VMTracker code into libraries
  packages/arb-bridge-eth/contracts/Disputable.sol
  packages/arb-bridge-eth/contracts/Unanimous.sol
  packages/arb-bridge-eth/contracts/VM.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-bridge-eth/migrations/2_load_state_tracker.js
  packages/arb-provider-ethers/src/lib/VMTracker.json
  packages/arb-provider-go/go.sum
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethbridge/verifierRPC/rpc.go
Due: arb-bridge-eth, arb-provider-ethers, arb-provider-go, arb-validator

Fix broken fromTokenType
  packages/arb-avm-cpp/avm/include/avm/tokenTracker.hpp
  packages/arb-avm-cpp/avm/src/tokenTracker.cpp
Due: arb-avm-cpp

Create canonical token type ordering
  packages/arb-bridge-eth/contracts/ArbBalanceTracker.sol
  packages/arb-bridge-eth/contracts/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-bridge-eth/contracts/test_only/TestToken.sol
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/test/balanceTracker.js
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/serialization.go
  packages/arb-util/protocol/tokenTracker.go
  packages/arb-validator/coordinator/server.go
  packages/arb-validator/ethbridge/challengeRPC/rpc.go
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethbridge/verifierRPC/rpc.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/go.mod
  packages/arb-validator/hashing/hashing.go
Due: arb-bridge-eth, arb-provider-ethers, arb-util, arb-validator

Cpp machine instruction cleanup
  packages/arb-avm-cpp/avm/include/avm/tuple.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/tuple.cpp
Due: arb-avm-cpp

Fix toTokenType
  packages/arb-avm-cpp/avm/src/tokenTracker.cpp
Due: arb-avm-cpp

Add rewrite rules to go.mod files
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-go/go.mod
  packages/arb-provider-go/go.mod
Due: arb-avm-cpp, arb-avm-go, arb-provider-go

Clone messages to prevent mutating int bug
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/protocol/message.go
Due: arb-avm-go, arb-util

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
