Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

Clean up ethbridge variable names
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/PendingTopChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
Due: arb-bridge-eth, arb-validator

Update go ethbridge to new api
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-validator/ethbridge/arbBase.go
  packages/arb-validator/ethbridge/arbChain.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/chainfactory/chainfactory.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/channelFactory.go
  packages/arb-validator/ethbridge/channelfactory/channelfactory.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  scripts/update-abi
Due: arb-util, arb-validator

Update data structures
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Add marshal/unmarshal for RollupTime
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/rollupTime.go
Due: arb-validator

Renaming for consistency
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Fix merge problem
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Implement challenge periods
  packages/arb-bridge-eth/contracts/challenge/BisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/IBisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
Due: arb-bridge-eth

Change solidity uint -> uint256
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-bridge-eth/contracts/Migrations.sol
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/challenge/BisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeType.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/PendingTopChallenge.sol
  packages/arb-bridge-eth/contracts/libraries/DebugPrint.sol
  packages/arb-bridge-eth/contracts/libraries/SigUtils.sol
  packages/arb-bridge-eth/contracts/test_only/TestToken.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Refactor rollup marshal/unmarshal code
  packages/arb-validator/rollup/pendingInbox.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/rollupTime.go
  packages/arb-validator/rollup/util.go
Due: arb-validator

Represent disputable assertions in rollup client
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Handle assertion notification in rollup client
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Rename type
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Add client-side ChainEventListener functionality
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Bugfix
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/observer.go
Due: arb-validator

Add code to defend pending top challenge
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/rollup/pendingInbox.go
  packages/arb-validator/rollup/pendingTopChallege.go
Due: arb-validator

Organize MakeAssertion params
  packages/arb-validator/ethbridge/arbRollup.go
Due: arb-validator

Client support for generating path- and conflict-proofs
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

address comments
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/blockreason.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/tokenTracker.hpp
  packages/arb-avm-cpp/avm/src/machinestate/blockreason.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate/messagestack.cpp
  packages/arb-avm-cpp/avm/src/machinestate/tokenTracker.cpp
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointutils.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/transaction.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatedeleter.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatefetcher.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatesaver.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/transaction.cpp
  packages/arb-avm-cpp/tests/blockreason.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointstorage.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-avm-cpp/tests/messagestack.cpp
Due: arb-avm-cpp

Track depth of nodes in rollup tree
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Clean up pending inbox defender
  packages/arb-validator/rollup/pendingInbox.go
  packages/arb-validator/rollup/pendingTopChallege.go
Due: arb-validator

Add pending top challenger
  packages/arb-validator/rollup/pendingInbox.go
  packages/arb-validator/rollup/pendingTopChallege.go
Due: arb-validator

Fix reference counting of rollup tree nodes
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Track oldestNode in rollup tree and clean it up when needed
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Bugfix
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Add messages challenge
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/vmConnection.go
  packages/arb-validator/rollup/challenge.go
  packages/arb-validator/rollup/messagesChallenge.go
  packages/arb-validator/rollup/pendingInbox.go
Due: arb-validator

Add execution challenge
  packages/arb-util/machine/defender.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/rollup/executionChallenge.go
  packages/arb-validator/rollup/messagesChallenge.go
Due: arb-util, arb-validator

edit Go interface
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.h
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-util/machine/checkpoint.go
Due: arb-avm-cpp, arb-util

fix tuplepool
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointstorage.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatefetcher.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointstorage.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-avm-cpp/tests/messagestack.cpp
Due: arb-avm-cpp

edits
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
Due: arb-avm-cpp

Add RelatedToStaker method to rollup notifications
  packages/arb-validator/ethbridge/events.go
Due: arb-validator

Replace CommonAncestorIfConflict with GetConflictAncestor
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Split up rollup.go
  packages/arb-validator/rollup/disputableNode.go
  packages/arb-validator/rollup/leafSet.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakerSet.go
Due: arb-validator

Extract NodeGraph from ChainObserver
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Extract StakedNodeGraph from ChainObserver
  packages/arb-validator/rollup/challenge.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerSet.go
Due: arb-validator

Fix child type
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

Rearrange ethbridge rollup contract structure
  docs/AVM_Specification.md
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-bridge-eth, arb-validator

Remove old ethbridge files
  packages/arb-bridge-eth/contracts/vm/old_ArbBase.sol.old
  packages/arb-bridge-eth/contracts/vm/old_ArbChain.sol.old
  packages/arb-bridge-eth/contracts/vm/old_ArbChannel.sol.old
  packages/arb-bridge-eth/contracts/vm/old_ChannelFactory.sol.old
  packages/arb-bridge-eth/contracts/vm/old_Disputable.sol.old
  packages/arb-bridge-eth/contracts/vm/old_IArbBase.sol.ols
  packages/arb-bridge-eth/contracts/vm/old_IArbChannel.sol.old
  packages/arb-bridge-eth/contracts/vm/old_Unanimous.sol.old
Due: arb-bridge-eth

Formatting ethbridge
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/libraries/RollupTime.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Add generateAlignedStakersProof to client
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

Eliminate risky return value
  packages/arb-validator/rollup/listener.go
Due: arb-validator

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
