Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

flags take two
  .circleci/config.yml
  codecov.yml
Due: none

codecov take three
  .circleci/config.yml
  codecov.yml
Due: none

codecov flags
  .circleci/config.yml
Due: none

coverage only
  .circleci/images/build-base/Dockerfile
Due: none

build-base:0.1.1
  .circleci/images/build-base/Dockerfile
Due: none

build-base:0.1.2
  .circleci/images/build-base/Dockerfile
Due: none

circleci offchainlabs/build-base:0.1.2
  .circleci/config.yml
  .circleci/images/test/Dockerfile
  .circleci/images/test/README.md
Due: none

Remove extraneous build files
  .circleci/config.yml
Due: none

Move instructions_test.go into vm
  packages/arb-avm-go/vm/instructions_test.go
Due: arb-avm-go

Create README.md
  README.md
Due: none

Update message field order to match implementation
  docs/AVM_Specification.md
Due: none

arb-avm-cpp README.md updated
  packages/arb-avm-cpp/README.md
Due: arb-avm-cpp

Updated Developer_Quickstart.md
  docs/Developer_Quickstart.md
  packages/arb-bridge-eth/.dockerignore
Due: arb-bridge-eth

Ensure correct flake8 formatting
  .pre-commit-config.yaml
  packages/arb-compiler-evm/arbitrum/__init__.py
  packages/arb-compiler-evm/arbitrum/ast.py
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/compiler.py
  packages/arb-compiler-evm/arbitrum/evm/__init__.py
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/constructor.py
  packages/arb-compiler-evm/arbitrum/marshall.py
  packages/arb-compiler-evm/arbitrum/std/__init__.py
  packages/arb-compiler-evm/arbitrum/std/bigtuple.py
  packages/arb-compiler-evm/arbitrum/std/floatlib.py
  packages/arb-compiler-evm/arbitrum/std/inboxctx.py
  packages/arb-compiler-evm/arbitrum/std/locals.py
  packages/arb-compiler-evm/arbitrum/tests/test_bignum.py
  packages/arb-compiler-evm/arbitrum/tests/test_float.py
  packages/arb-compiler-evm/arbitrum/tests/test_sized_bigtuple.py
  packages/arb-compiler-evm/arbitrum/value.py
  packages/arb-compiler-evm/truffle_runner.py
  packages/arb-compiler-evm/truffle_runner2.py
  scripts/arb_deploy.py
  scripts/install-deps
  scripts/setup_states.py
  scripts/support/run.py
Due: arb-compiler-evm

Fix arbitrum-compiler-evm compile
  .pre-commit-config.yaml
  packages/arb-compiler-evm/arbitrum/evm/compile.py
Due: arb-compiler-evm

Refactor arb-compiler-evm and remove web3 dependency
  .flake8
  packages/arb-compiler-evm/Pipfile
  packages/arb-compiler-evm/Pipfile.lock
  packages/arb-compiler-evm/arbitrum/evm/__init__.py
  packages/arb-compiler-evm/arbitrum/evm/constructor.py
  packages/arb-compiler-evm/arbitrum/evm/contract.py
  packages/arb-compiler-evm/arbitrum/evm/contract_abi.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-compiler-evm/arbitrum/vm.py
  packages/arb-compiler-evm/bin/arbc-truffle
  packages/arb-compiler-evm/evm_demo.py
  packages/arb-compiler-evm/requirements.txt
  packages/arb-compiler-evm/setup.py
  packages/arb-compiler-evm/tests/sol-syscall/truffle_runner.py
  packages/arb-compiler-evm/truffle_runner.py
  packages/arb-compiler-evm/truffle_runner2.py
  requirements-dev.txt
  requirements.txt
Due: arb-compiler-evm

Add yarn and go caching
  .circleci/config.yml
Due: none

Only download codecov once
  .circleci/config.yml
  test/codecovbash
Due: none

Fix go cache and add conan cache
  .circleci/config.yml
Due: none

Cache python in circleci
  .circleci/config.yml
  packages/arb-compiler-evm/Pipfile
  scripts/install-ci
Due: arb-compiler-evm

Fix circleci keyword
  .circleci/config.yml
Due: none

Fix arb-avm-cpp main formatting [skip ci]
  packages/arb-avm-cpp/app/main.cpp
Due: arb-avm-cpp

Automically install pre-commit hooks when deps are installed
  scripts/install-deps
Due: none

Remove broken print from arbc-truffle
  packages/arb-compiler-evm/bin/arbc-truffle
Due: arb-compiler-evm

Remove rpc server from followerServer to allow for multiple on one machine
  packages/arb-validator/cmd/followerServer/main.go
Due: arb-validator

`golint` and `go vet`
  packages/arb-avm-go/checkpoint/checkpoint.go
  packages/arb-avm-go/checkpoint/checkpointValues.go
  packages/arb-avm-go/goloader/loader.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinePC.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-avm-go/vm/stack/flat.go
  packages/arb-util/evm/data.go
  packages/arb-util/evm/evm_advise.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/inbox.go
  packages/arb-util/protocol/tokenTracker.go
  packages/arb-util/value/codePoint.go
  packages/arb-util/value/hash.go
  packages/arb-util/value/int.go
  packages/arb-util/value/serialization.go
  packages/arb-util/value/tuple.go
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/coordinator/server.go
  packages/arb-validator/coordinator/txtracker.go
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/ethvalidator/follower.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/go.sum
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/validator/validator.go
  packages/arb-validator/valmessage/message.go
Due: arb-avm-go, arb-util, arb-validator

Add ignored workspace directory for local projects
  .gitignore
  package.json
  packages/arb-bridge-eth/.dockerignore
Due: arb-bridge-eth

Add GetTokenBalance support
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethvalidator/validator.go
Due: arb-validator

Provide easy interface for waiting for transactions to complete
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/cmd/followerServer/main.go
  packages/arb-validator/coordinator/server.go
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
Due: arb-validator

Only close unanimous chain if the chain is nonempty
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/validator/requests.go
  packages/arb-validator/validator/validator.go
Due: arb-validator

Make validator create vm functions wait for balance
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/ethvalidator/follower.go
  packages/arb-validator/ethvalidator/validator.go
Due: arb-validator

Fix txTracker crash with 0 logs
  packages/arb-validator/coordinator/txtracker.go
Due: arb-validator

Refactor validator unanimous assertion handling
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/inbox.go
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/coordinator/txtracker.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/ethvalidator/follower.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/requests.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/testmachine/machine.go
  packages/arb-validator/validator/requests.go
  packages/arb-validator/validator/validator.go
  packages/arb-validator/valmessage/outgoing.go
  packages/arb-validator/valmessage/requests.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Add fallback to disputable assertion with message forwarding
  packages/arb-bridge-eth/contracts/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-util/protocol/message.go
  packages/arb-util/protocol/precondition.go
  packages/arb-validator/ethbridge/ethbridge.go
  packages/arb-validator/ethbridge/verifierRPC/rpc.go
  packages/arb-validator/ethvalidator/coordinator.go
  packages/arb-validator/ethvalidator/follower.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/requests.go
  packages/arb-validator/validator/validator.go
Due: arb-bridge-eth, arb-util, arb-validator

Enable disputable log verification in arb-provider-ethers
  packages/arb-provider-ethers/lib/index.js
Due: arb-provider-ethers

Clean up petshop dependencies
  demos/pet-shop/dist/css/bootstrap.min.css
  demos/pet-shop/dist/css/bootstrap.min.css.map
  demos/pet-shop/dist/fonts/glyphicons-halflings-regular.eot
  demos/pet-shop/dist/fonts/glyphicons-halflings-regular.svg
  demos/pet-shop/dist/fonts/glyphicons-halflings-regular.ttf
  demos/pet-shop/dist/fonts/glyphicons-halflings-regular.woff
  demos/pet-shop/dist/fonts/glyphicons-halflings-regular.woff2
  demos/pet-shop/dist/index.html
  demos/pet-shop/dist/js/bootstrap.min.js
  demos/pet-shop/package.json
  demos/pet-shop/src/app.js
  demos/pet-shop/webpack.config.js
  package.json
  yarn.lock
Due: none

Clean up election dependencies
  demos/election/dist/css/bootstrap.min.css
  demos/election/dist/css/bootstrap.min.css.map
  demos/election/dist/fonts/glyphicons-halflings-regular.eot
  demos/election/dist/fonts/glyphicons-halflings-regular.svg
  demos/election/dist/fonts/glyphicons-halflings-regular.ttf
  demos/election/dist/fonts/glyphicons-halflings-regular.woff
  demos/election/dist/fonts/glyphicons-halflings-regular.woff2
  demos/election/dist/index.html
  demos/election/dist/js/bootstrap.min.js
  demos/election/package.json
  demos/election/src/app.js
  demos/election/test/election.js
  demos/election/webpack.config.js
  demos/pet-shop/package.json
  demos/pet-shop/src/app.js
  yarn.lock
Due: none

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
