Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Fix inbox instruction
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-go/vm/instructions.go
Due: arb-avm-cpp, arb-avm-go

Integrate pending inbox handling
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-compiler-evm/arbitrum/std/inboxctx.py
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-util/protocol/inbox.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
Due: arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-util, arb-validator

Petshop working!
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb-provider-ethers

Clean up asyncWorker
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

Prepare rollupServer for multiple concurrent validators
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-go/go.mod
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/arbbridge/arbRollupWatcher.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallege.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakerListener.go
  packages/arb-validator/rollupvalidator/rpcserver.go
  packages/arb-validator/rollupvalidator/server.go
Due: arb-bridge-eth, arb-provider-ethers, arb-provider-go, arb-validator

Continue work getting multiple validators running
  packages/arb-avm-go/vm/warning.go
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-validator/arbbridge/arbRollup.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/validator/validator.go
Due: arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-validator

Refactor
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

Two concurrent nodes running!
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-util/evm/evm_advise.go
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-util/protocol/executionAssertionStub.go
  packages/arb-validator/arbbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/leafSet.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerListener.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/testmachine/machine.go
Due: arb-bridge-eth, arb-provider-ethers, arb-util, arb-validator

Update checkpoint data structures
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

Integration
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

Fix arb-provider-ethers compilation bug
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb-provider-ethers

Update .gitignore
  .gitignore
Due: none

fix desposit approval
  demos/interop/src/app.js
Due: none

Steps toward automatic cleanup of old checkpoints
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

First stage of checkpoint refactor
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

More checkpoint refactoring
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

More checkpoint refactoring
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-validator

Fix event monitoring on boot
  packages/arb-validator/ethbridge/arbRollupWatcher.go
Due: arb-validator

Remove extra logs
  packages/arb-validator/ethbridge/arbRollupWatcher.go
Due: arb-validator

More checkpoint refactoring
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

More checkpoint refactoring
  packages/arb-validator/rollup/checkpointing.go
Due: arb-validator

Move message from arb-util to arb-validator
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-util/evm/evm_advise.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/arbbridge/pendingInbox.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/coordinator/server.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/mockbridge/pendingInbox.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/state/core.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
  packages/arb-validator/valmessage/requests.go
  packages/arb-validator/valmessage/serialization.go
  packages/arb-validator/valmessage/valmessage.pb.go
  packages/arb-validator/valmessage/valmessage.proto
  packages/arb-validator/valprotocol/message.go
  packages/arb-validator/valprotocol/valprotocol.pb.go
  packages/arb-validator/valprotocol/valprotocol.proto
Due: arb-avm-go, arb-util, arb-validator

Make non protobuf ExecutionAssertionStub
  packages/arb-provider-go/go.sum
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-util/protocol/executionAssertionStub.go
  packages/arb-util/protocol/messagestack.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/tokenTracker.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-provider-go, arb-util, arb-validator

Move ExecutionAssertionStub from arb-util to arb-validator
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/arbbridge/executionChallenge.go
  packages/arb-validator/arbbridge/oneStepProof.go
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/defender.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethvalidator/challenge.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/oneStepProof.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
  packages/arb-validator/valprotocol/executionAssertionStub.go
  packages/arb-validator/valprotocol/precondition.go
  packages/arb-validator/valprotocol/valprotocol.pb.go
  packages/arb-validator/valprotocol/valprotocol.proto
Due: arb-util, arb-validator

Move precondition out of arb-util
  packages/arb-util/protocol/executionAssertionStub.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/timebounds.go
  packages/arb-validator/arbbridge/executionChallenge.go
  packages/arb-validator/arbbridge/oneStepProof.go
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/defender.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/core/core.go
  packages/arb-validator/disputable/requests.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/ethvalidator/challenge.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/oneStepProof.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakerListener.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/validator/challenge.go
  packages/arb-validator/validator/validator.go
  packages/arb-validator/valprotocol/precondition.go
  packages/arb-validator/valprotocol/valprotocol.pb.go
  packages/arb-validator/valprotocol/valprotocol.proto
Due: arb-util, arb-validator

Move more structures to arb-validator
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/go.sum
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/timebounds.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/proofmachine/proofmachine_test.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
  packages/arb-validator/valmessage/message.go
  packages/arb-validator/valmessage/requests.go
  packages/arb-validator/valmessage/valmessage.pb.go
  packages/arb-validator/valmessage/valmessage.proto
  packages/arb-validator/valprotocol/message.go
  packages/arb-validator/valprotocol/precondition.go
  packages/arb-validator/valprotocol/serialization.go
  packages/arb-validator/valprotocol/valprotocol.pb.go
  packages/arb-validator/valprotocol/valprotocol.proto
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Move evm package to arb-validator
  packages/arb-provider-go/connection.go
  packages/arb-validator/coordinator/txtracker.go
  packages/arb-validator/evm/data.go
  packages/arb-validator/evm/evm_advise.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/rollupvalidator/txtracker.go
  packages/arb-validator/validator/validator.go
Due: arb-provider-go, arb-validator

Convert more raw bytes into common.Hash
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-provider-go/connection.go
  packages/arb-util/common/address.go
  packages/arb-util/common/util.go
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-util/value/codePoint.go
  packages/arb-util/value/hash.go
  packages/arb-validator/challenges/defender.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/evm/evm_advise.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/leafSet.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/rollupvalidator/txtracker.go
  packages/arb-validator/structures/challenge.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/valmessage/requests.go
  packages/arb-validator/valprotocol/executionAssertionStub.go
  packages/arb-validator/valprotocol/precondition.go
Due: arb-avm-go, arb-provider-go, arb-util, arb-validator

Remove more go-ethereum/common includes
  packages/arb-provider-go/validatorProxy.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/valprotocol/message.go
Due: arb-provider-go, arb-validator

Small refactoring
  packages/arb-avm-go/vm/stack/flat.go
  packages/arb-util/hashing/hashing.go
  packages/arb-util/value/int.go
  packages/arb-util/value/tuple.go
Due: arb-avm-go, arb-util

Make most of ethbridge private
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/arbbridge/arbRollup.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/challengeFactory.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
Due: arb-provider-go, arb-validator

Cleanup marshalling
  packages/arb-util/common/hash.go
  packages/arb-util/common/serialization.go
  packages/arb-util/common/timeblocks.go
  packages/arb-util/common/util.go
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerSet.go
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/params.go
  packages/arb-validator/structures/pendingInbox.go
  packages/arb-validator/structures/time.go
  packages/arb-validator/valmessage/message.go
  packages/arb-validator/valprotocol/executionAssertionStub.go
  packages/arb-validator/valprotocol/message.go
Due: arb-util, arb-validator

Remove go-ethereum arbbridge
  packages/arb-util/common/hash.go
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/arbbridge/oneStepProof.go
  packages/arb-validator/arbbridge/pendingInbox.go
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/clientConnection.go
  packages/arb-validator/mockbridge/oneStepProof.go
  packages/arb-validator/mockbridge/pendingInbox.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/challenge.go
  packages/arb-validator/valprotocol/precondition.go
Due: arb-util, arb-validator

Clean up headers
  packages/arb-util/common/address.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/conversion.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/evm/evm_advise.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/proofmachine/proofmachine_test.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/rollupvalidator/txtracker.go
  packages/arb-validator/structures/challenge.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/test/helper.go
  packages/arb-validator/unanimous/unanimous.go
  packages/arb-validator/valmessage/requests.go
  packages/arb-validator/valprotocol/executionAssertionStub.go
  packages/arb-validator/valprotocol/message.go
  packages/arb-validator/valprotocol/precondition.go
  packages/arb-validator/valprotocol/tokenType.go
Due: arb-util, arb-validator

Working on getting arb-provider-go test working
  packages/arb-provider-go/connection.go
  packages/arb-provider-go/go.sum
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/contract.ao
  packages/arb-util/common/address.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/executionChallenge_test.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/pendingTopChallenge_test.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollupvalidator/rpcserver.go
Due: arb-provider-go, arb-util, arb-validator

Get arb-provider-go test working
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-go/connection.go
  packages/arb-provider-go/test/connection_test.go
  packages/arb-util/common/hash.go
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollupvalidator/rpcserver.go
Due: arb-bridge-eth, arb-provider-ethers, arb-provider-go, arb-util, arb-validator
