Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Clean up ethbridge error handling
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/core.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/validator.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
Due: arb-validator

Unify final and non-final unanimous assert sigs
  packages/arb-bridge-eth/contracts/Unanimous.sol
  packages/arb-validator/hashing/hashing.go
Due: arb-bridge-eth, arb-validator

Fix avm tests
  packages/arb-avm-go/vm/instructions_test.go
Due: arb-avm-go

Get channels working post refactor
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/chain/chainValidator.go
  packages/arb-validator/channel/channelValidator.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/channel/websocketClient.go
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/cmd/followerServer/main.go
  packages/arb-validator/coordinator/server.go
  packages/arb-validator/ethconnection/arbChain.go
  packages/arb-validator/ethconnection/arbChannel.go
  packages/arb-validator/ethconnection/arbitrumVM.go
  packages/arb-validator/ethconnection/vmConnection.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/state/core.go
  packages/arb-validator/validator/chainValidator.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
Due: arb-provider-go, arb-validator

Deduping and refactoring
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/chain/validator.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/core.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/channel/validator.go
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/cmd/coordinatorServer/main.go
  packages/arb-validator/cmd/followerServer/main.go
  packages/arb-validator/ethbridge/arbChain.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbLauncher.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/arblauncher/arblauncher.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/merkleTree.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/vmConnection.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/state/core.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/validator/chainValidator.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
Due: arb-provider-go, arb-validator

Continue chain channel split
  packages/arb-bridge-eth/contracts/vm/ArbChain.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/IArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-validator/ethconnection/channelcreator/channelcreator.go
Due: arb-bridge-eth, arb-validator

Fix address and hashing related regressions
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/vm/ArbChain.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-util/protocol/message.go
  packages/arb-validator/channel/validator.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/validator/channelValidator.go
Due: arb-bridge-eth, arb-provider-go, arb-util, arb-validator

Work on unifying chains and channels
  packages/arb-validator/ethvalidator/vmvalidator.go
  packages/arb-validator/state/core.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/validator/chainValidator.go
  packages/arb-validator/validator/channelValidator.go
Due: arb-validator

Merge channel state and chainstate into one
  packages/arb-validator/chainvalidator/validator.go
  packages/arb-validator/core/core.go
  packages/arb-validator/disputable/requests.go
  packages/arb-validator/state/core.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
Due: arb-validator

Propagate chain channel split into arb-validator
  packages/arb-bridge-eth/contracts/ArbLauncher.sol
  packages/arb-bridge-eth/contracts/vm/ArbChain.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/core.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/cmd/coordinatorServer/main.go
  packages/arb-validator/cmd/followerServer/main.go
  packages/arb-validator/ethbridge/channelCreator.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/vmTracker.go
  packages/arb-validator/ethconnection/arbChain.go
  packages/arb-validator/ethconnection/arbChannel.go
  packages/arb-validator/ethconnection/arbLauncher.go
  packages/arb-validator/ethconnection/arbitrumVM.go
  packages/arb-validator/ethconnection/arblauncher/arblauncher.go
  packages/arb-validator/ethconnection/chain.go
  packages/arb-validator/ethconnection/channelCreator.go
  packages/arb-validator/ethconnection/pendingInbox.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/ethvalidator/vmvalidator.go
  packages/arb-validator/validator/validator.go
  scripts/update-go-abi
Due: arb-bridge-eth, arb-provider-go, arb-validator

Linting cleanups
  packages/arb-bridge-eth/contracts/test_only/TestToken.sol
  packages/arb-bridge-eth/contracts/vm/ArbChain.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-validator/chain/validator.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/channel/validator.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/validator/chainValidator.go
  packages/arb-validator/validator/channelValidator.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Reorganize arb-bridge-eth contracts
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/VMCreator.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeManager.sol
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/contracts/libraries/ArbMachine.sol
  packages/arb-bridge-eth/contracts/libraries/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/libraries/ArbValue.sol
  packages/arb-bridge-eth/contracts/libraries/DebugPrint.sol
  packages/arb-bridge-eth/contracts/libraries/MerkleLib.sol
  packages/arb-bridge-eth/contracts/libraries/SigUtils.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/IVMTracker.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-bridge-eth/contracts/vm/VMTracker.sol
  packages/arb-validator/ethconnection/challengemanager/challengemanager.go
  packages/arb-validator/ethconnection/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethconnection/vmtracker/vmtracker.go
Due: arb-bridge-eth, arb-validator

Fix integration test compilation
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-validator/cmd/challengeTest/main.go
Due: arb-provider-go, arb-validator

Refactoring and cleanups
  packages/arb-bridge-eth/contracts/ChainLauncher.sol
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/ChannelLauncher.sol
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/contracts/libraries/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/libraries/DebugPrint.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/shrinkABI.js
  packages/arb-provider-ethers/src/lib/ArbChain.json
  packages/arb-provider-ethers/src/lib/ArbChannel.json
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.json
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-validator/ethbridge/arbChain.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/arblauncher/arblauncher.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/chainLauncher.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channelLauncher.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/go.sum
  scripts/update-go-abi
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Add method name to waitForReceipt for debugging
  packages/arb-validator/ethbridge/arbChain.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/chainLauncher.go
  packages/arb-validator/ethbridge/channelLauncher.go
  packages/arb-validator/ethbridge/pendingInbox.go
Due: arb-validator

Fix instructions_test.go
  packages/arb-avm-go/vm/instructions_test.go
Due: arb-avm-go

Use generated typescript contract interfaces in arb-provider-ethers
  .eslintrc.js
  package.json
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/shrinkABI.js
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChain.json
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.json
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.json
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/index.d.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  scripts/update-abi
  yarn.lock
Due: arb-provider-ethers

Add IsPendingUnanimous and to recover from ConfirmUnanimousAsserted failing
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/vmConnection.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/state/unanimous.go
Due: arb-validator

Challenge test working up to InitiateChallenge failure
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/state/disputable.go
Due: arb-validator

Fix disputable outgoing message accumulator hash
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/message.go
Due: arb-bridge-eth, arb-util

Pass correct address to validator and remove dead code
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
Due: arb-validator

Simplify arb-bridge-eth dockerfile
  packages/arb-bridge-eth/Dockerfile
  scripts/arb_deploy.py
Due: arb-bridge-eth

Split BalanceTracker into 2 classes with split functionality
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/balanceTracker.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-util/protocol/tokenTracker.go
Due: arb-util

Fix proof marshalling
  packages/arb-avm-cpp/avm/include/avm/codepoint.hpp
  packages/arb-avm-cpp/avm/include/avm/datastack.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/codepoint.cpp
  packages/arb-avm-cpp/avm/src/datastack.cpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/value.cpp
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/value/codePoint.go
  packages/arb-util/value/hash.go
  packages/arb-util/value/int.go
  packages/arb-util/value/tuple.go
  packages/arb-util/value/values.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/validator/validator.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Simplify bisection code
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
Due: arb-bridge-eth, arb-validator

Lazily compute preconditions in bisection
  packages/arb-util/machine/defender.go
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/vmConnection.go
  packages/arb-validator/ethvalidator/vmValidator.go
Due: arb-util, arb-validator

Switch challengeTest to use testvm
  packages/arb-validator/cmd/challengeTest/main.go
Due: arb-validator

Add IsInChallenge check so coordinator doesn't disputable assert during challenge
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/ethbridge/vmConnection.go
  packages/arb-validator/ethvalidator/vmValidator.go
Due: arb-validator

issue-72: first commit
  .pre-commit-config.yaml
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/CheckpointDataLayer.hpp
  packages/arb-avm-cpp/CheckpointStorage.cpp
  packages/arb-avm-cpp/CheckpointStorage.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/value.cpp
  packages/arb-avm-cpp/checkpoint.cpp
  packages/arb-avm-cpp/checkpoint.hpp
  packages/arb-avm-cpp/cmake/Findrocksdb.cmake
Due: arb-avm-cpp

issue-72: second commit
  packages/arb-avm-cpp/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/CheckpointDataLayer.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/checkpoint.cpp
  packages/arb-avm-cpp/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/checkpoint/checkpointutils.hpp
Due: arb-avm-cpp

issue-72 : datastack map/save
  packages/arb-avm-cpp/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/CheckpointDataLayer.hpp
  packages/arb-avm-cpp/avm/include/avm/datastack.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/src/datastack.cpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/checkpoint.cpp
  packages/arb-provider-go/go.mod
Due: arb-avm-cpp, arb-provider-go

issue-72: refactor some classes
  packages/arb-avm-cpp/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/CheckpointDataLayer.hpp
  packages/arb-avm-cpp/MachineState.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/tuple.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/value.cpp
  packages/arb-avm-cpp/checkpoint.cpp
  packages/arb-avm-cpp/checkpoint.hpp
  packages/arb-avm-cpp/checkpoint/processstatus.cpp
  packages/arb-avm-cpp/checkpoint/processstatus.hpp
  packages/arb-avm-cpp/exceptions.hpp
  packages/arb-avm-cpp/machineoperation.cpp
  packages/arb-avm-cpp/machineoperation.hpp
  packages/arb-avm-cpp/machinestate.cpp
Due: arb-avm-cpp

issue-72: move files
  packages/arb-avm-cpp/avm/include/avm/CheckpointDataLayer.hpp
  packages/arb-avm-cpp/avm/include/avm/CheckpointStorage.hpp
  packages/arb-avm-cpp/avm/include/avm/checkpoint.hpp
  packages/arb-avm-cpp/avm/include/avm/exceptions.hpp
  packages/arb-avm-cpp/avm/include/avm/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate.hpp
  packages/arb-avm-cpp/avm/src/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/avm/src/CheckpointStorage.cpp
  packages/arb-avm-cpp/avm/src/checkpoint.cpp
  packages/arb-avm-cpp/avm/src/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate.cpp
Due: arb-avm-cpp

issue-72: move files
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/CheckpointStorage.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/tuple.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/avm/src/checkpointdatalayer.hpp
  packages/arb-avm-cpp/avm/src/checkpointutils.cpp
  packages/arb-avm-cpp/avm/src/checkpointutils.hpp
  packages/arb-avm-cpp/avm/src/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate.hpp
  packages/arb-avm-cpp/avm/src/processstatus.cpp
  packages/arb-avm-cpp/avm/src/processstatus.hpp
  packages/arb-avm-cpp/avm/src/value.cpp
Due: arb-avm-cpp

issue-72: fix serialization
  packages/arb-avm-cpp/avm/include/avm/tuple.hpp
  packages/arb-avm-cpp/avm/include/avm/value.hpp
  packages/arb-avm-cpp/avm/src/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/avm/src/checkpointdatalayer.hpp
  packages/arb-avm-cpp/avm/src/processstatus.cpp
  packages/arb-avm-cpp/avm/src/processstatus.hpp
  packages/arb-avm-cpp/avm/src/serializedvalue.cpp
  packages/arb-avm-cpp/avm/src/serializedvalue.hpp
  packages/arb-avm-cpp/avm/src/value.cpp
Due: arb-avm-cpp

issue-72: load checkpoint
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/src/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/avm/src/checkpoint.cpp
  packages/arb-avm-cpp/avm/src/checkpoint.hpp
  packages/arb-avm-cpp/avm/src/checkpointdatalayer.hpp
  packages/arb-avm-cpp/avm/src/checkpointutils.cpp
  packages/arb-avm-cpp/avm/src/checkpointutils.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/tests/balanceTracker.cpp
Due: arb-avm-cpp

issue-72: reorganize files
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/checkpoint.hpp
  packages/arb-avm-cpp/avm/include/avm/checkpointdatalayer.hpp
  packages/arb-avm-cpp/avm/include/avm/checkpointutils.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestatedata.hpp
  packages/arb-avm-cpp/avm/include/avm/messagestack.hpp
  packages/arb-avm-cpp/avm/src/CheckpointDataLayer.cpp
  packages/arb-avm-cpp/avm/src/checkpoint.cpp
  packages/arb-avm-cpp/avm/src/checkpointutils.cpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate.hpp
  packages/arb-avm-cpp/avm/src/serializedvalue.cpp
  packages/arb-avm-cpp/avm/src/serializedvalue.hpp
Due: arb-avm-cpp

issue-72: reorganize files
  packages/arb-avm-cpp/avm/include/avm/checkpoint.hpp
  packages/arb-avm-cpp/avm/include/avm/checkpointstorage.hpp
  packages/arb-avm-cpp/avm/include/avm/checkpointutils.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/src/CheckpointStorage.cpp
  packages/arb-avm-cpp/avm/src/checkpoint.cpp
  packages/arb-avm-cpp/avm/src/checkpointstorage.cpp
  packages/arb-avm-cpp/avm/src/machine.cpp
Due: arb-avm-cpp

challengeTest testing
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/coordinator/txtracker.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/validator/validator.go
Due: arb-validator
