Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

Refactor Rollup into multiple files
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/IStaking.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
Due: arb-bridge-eth

Refactoring ethbridge
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Clean up require messages
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Revert childNodeHash change
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
Due: arb-bridge-eth

Move deadline from disputableNodeHash to childNodeHash
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Only allow confirmation of latestConfirmed successor
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Different node data for different node types
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/challenge/BisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IBisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/IExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IMessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/PendingTopChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Simplify confirm functions
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Simplify makeAssertion
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Reduce makeAssertion params
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
Due: arb-bridge-eth

Simplify staking challenges code
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeType.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Linting
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeType.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/PendingTopChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
Due: arb-bridge-eth

Bump solidity version
  packages/arb-bridge-eth/truffle-config.js
Due: arb-bridge-eth

Fix challenge data hash in challenge
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Add conf staker check
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Fix up inbox merge
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Add count to pending inbox
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
Due: arb-bridge-eth

Update time bookkeeping to use ticks and blocks
  packages/arb-bridge-eth/contracts/challenge/BisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/PendingTopChallenge.sol
  packages/arb-bridge-eth/contracts/libraries/RollupTime.sol
  packages/arb-bridge-eth/contracts/vm/ArbFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/RollupTime.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
Due: arb-bridge-eth

Rename args for consistency
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
Due: arb-bridge-eth

Count pending inbox messages
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/challenge/BisectionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/PendingTopChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
Due: arb-bridge-eth

Require placeStake uses valid location
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
Due: arb-bridge-eth

Refactor to prepare for better deadline computtion
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Bugfix
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Accurately compute assertion deadline
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Add methods to recover stakes of other stakers
  packages/arb-bridge-eth/contracts/libraries/RollupTime.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
  packages/arb-bridge-eth/contracts/vm/Leaves.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Bugfixes
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Delete unneeded file
  packages/arb-bridge-eth/contracts/vm/RollupTime.sol
Due: arb-bridge-eth

Bugfix
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Update scripts/update-abi and run it
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  scripts/update-abi
Due: arb-provider-ethers, arb-validator

Add isEmpty method back in MessageStack
  packages/arb-avm-cpp/avm/include/avm/machinestate/messagestack.hpp
Due: arb-avm-cpp

Simplify childNodeHash
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
Due: arb-bridge-eth

Minor refactor
  packages/arb-avm-go/vm/instructions.go
  packages/arb-util/protocol/inbox.go
Due: arb-avm-go, arb-util

Fix go avm inbox clearing
  packages/arb-avm-go/vm/instructions.go
  packages/arb-util/protocol/inbox.go
Due: arb-avm-go, arb-util

Make time bounds bignums in protobufs
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/value/serialization.go
Due: arb-avm-cpp, arb-util

refactor, add machine getter
  packages/arb-avm-cpp/avm/include/avm/machinestate/messagestack.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.h
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointutils.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatefetcher.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointstorage.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-avm-cpp/tests/messagestack.cpp
  packages/arb-util/machine/checkpoint.go
Due: arb-avm-cpp, arb-util

Create rollupTime.go
  packages/arb-validator/rollup/rollupTime.go
Due: arb-validator

Update data structures to parallel ethbridge structures
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

free c pointers
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/cmachine/machine.go
Due: arb-avm-cpp

Update validator event structs to match ethbridge
  packages/arb-validator/rollup/observer.go
Due: arb-validator

Allow anyone to moot stake
  packages/arb-bridge-eth/contracts/vm/Confirming.sol
Due: arb-bridge-eth

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
