Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Fix c headers
  packages/arb-avm-cpp/cavm/ccheckpointstorage.h
  packages/arb-avm-cpp/cavm/cmachine.h
Due: arb-avm-cpp

Add goland support for multi-conf
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSys.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSysFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-go/arbinfo.go
  packages/arb-provider-go/arbsys.go
  packages/arb-validator/arbbridge/arbRollup.go
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/confirmation.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-provider-ethers, arb-provider-go, arb-validator

Fix race condition
  packages/arb-validator/rollup/listener.go
Due: arb-validator

Fix inbox message monitoring
  packages/arb-validator/ethbridge/pendingInboxWatcher.go
Due: arb-validator

Fix mockbridge impl
  packages/arb-validator/mockbridge/arbRollup.go
Due: arb-validator

Improve codecov
  codecov.yml
  packages/arb-compiler-evm/arbitrum/std/__init__.py
  packages/arb-compiler-evm/arbitrum/std/currency_store.py
Due: arb-compiler-evm

Fix go package test coverage
  .circleci/config.yml
Due: none

Another attempt to fix codecov
  .circleci/config.yml
Due: none

Attempt to fix codecov
  .circleci/config.yml
Due: none

Tmp
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/rollup/calls.go
Due: arb-validator

Fix codecov
  .circleci/config.yml
Due: none

Another codecov fix
  .circleci/config.yml
Due: none

Fix test
  packages/arb-validator/structures/pendingInbox_test.go
Due: arb-validator

Add support for pruning multiple leaves
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-validator/arbbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/valprotocol/pruning.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Add missing paren
  packages/arb-validator/rollup/listener.go
Due: arb-validator

Add commandline switch for block time
  packages/arb-util/common/timeticks.go
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
Due: arb-util, arb-validator

Make opinion thread wake up more often
  packages/arb-validator/rollup/opinionThread.go
Due: arb-validator

Add max size limits on confirm and prune txes
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/valprotocol/confirmation.go
Due: arb-validator

Fix race condition
  packages/arb-util/common/timeticks.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/valprotocol/confirmation.go
Due: arb-util, arb-validator

Fix pruneLeaves
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
Due: arb-bridge-eth

Rationalize ticks/blocks/Duration conversions
  packages/arb-util/common/timeblocks.go
  packages/arb-util/common/timeticks.go
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/opinionThread.go
Due: arb-util, arb-validator

Add ArbFactory support to arb-provider-ethers
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/scripts/update-abi
  packages/arb-provider-ethers/src/index.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbFactory.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbFactoryFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-go/arbinfo.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  yarn.lock
Due: arb-provider-ethers, arb-provider-go, arb-validator

Update Chain_parameters.md
  docs/Chain_parameters.md
Due: none

Update Rollup_basics.md
  docs/Rollup_basics.md
Due: none

Add support for generating machine hash from contract.ao in ethers
  .eslintrc.js
  packages/arb-provider-ethers/src/lib/value.ts
Due: arb-provider-ethers

Update Time_in_Arbitrum.md
  docs/Time_in_Arbitrum.md
Due: none

Rename file
  docs/Payments_and_tokens.md
Due: none

Update solidity support documentation
  docs/Solidity_Support.md
Due: none

Update Ethereum_Interoperability.md
  docs/Ethereum_Interoperability.md
  docs/Payments_and_tokens
Due: none

Update Ethereum_Interoperability.md
  docs/Ethereum_Interoperability.md
Due: none

Bugfix in docs
  docs/Rollup_basics.md
Due: none

Prepare docs for dev website build
  docs/Arbsys.md
  docs/Chain_parameters.md
  docs/Ethereum_Interoperability.md
  docs/Finality.md
  docs/Rollup_basics.md
  docs/Time_in_Arbitrum.md
Due: none

Correct code formatting
  docs/Developer_Quickstart.md
  docs/Ethereum_Interoperability.md
Due: none

Bugfix
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
Due: arb-bridge-eth
