Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Switch more to common.Hash
  packages/arb-avm-go/checkpoint/checkpoint.go
  packages/arb-avm-go/checkpoint/checkpointValues.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/valprotocol/precondition.go
Due: arb-avm-go, arb-validator

Enable circleci tests
  .circleci/config.yml
Due: none

Fix compiler test (update inbox impl)
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/messagestack.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

Fix sol-syscol test
  packages/arb-compiler-evm/arbitrum/__init__.py
  packages/arb-compiler-evm/tests/sol-syscall/truffle_runner.py
Due: arb-compiler-evm

FIx rollup test path
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Remove generated files from codecov
  codecov.yml
Due: none

Throw old assertions with invalid timebounds
  packages/arb-validator/rollup/opinionThread.go
Due: arb-validator

Fix log fetching in arbrollup
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/logFetcher.go
Due: arb-validator

Integrate log fetching code into challenges
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/logFetcher.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Split ethbridge challenge classes into active and watchers
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/arbbridge/challenge.go
  packages/arb-validator/arbbridge/executionChallenge.go
  packages/arb-validator/arbbridge/messagesChallenge.go
  packages/arb-validator/arbbridge/pendingTopChallenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallenge.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
Due: arb-validator

Use BlockID rather than block number
  packages/arb-util/common/timeblocks.go
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/pendingInbox.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-util, arb-validator

arbbridge and arbclient interface cleanup
  packages/arb-provider-go/go.mod
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/arbFactory.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/proofmachine/machine.go
Due: arb-provider-go, arb-validator

Fix messagesChallengeWatcher
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
Due: arb-validator

Change Notification to use BlockID
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/rollup/observer.go
Due: arb-validator

Remove VMID from notification
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
Due: arb-validator

Convert more places to BlockId
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/clientConnection.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollupvalidator/server.go
Due: arb-validator

Update checkpoint db cleanup code
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

checkpoint
  demos/interop/src/app.js
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-compiler-evm/Pipfile
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb-bridge-eth, arb-compiler-evm, arb-provider-ethers

Clean up superseded checkpoints
  packages/arb-validator/rollup/checkpointing.go
Due: arb-validator

Get params from EthBridge
  packages/arb-validator/rollup/checkpointing.go
Due: arb-validator

Detect and respond to reorgs
  packages/arb-util/common/hash.go
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/arbbridge/watcher.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallenge.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/logFetcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/stakerListener.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-util, arb-validator

Make challenges support resuming mid challenge
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallenge.go
Due: arb-validator

Delete dead checkpoints on reorg
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/rollup/checkpointing.go
Due: arb-validator

arbbridge and arbclient interface cleanup
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/arbFactory.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/challengeFactory.go
  packages/arb-validator/mockbridge/challengeTester.go
  packages/arb-validator/mockbridge/executionChallengeWatcher.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/messagesChallengeWatcher.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/mockbridge/oneStepProof.go
  packages/arb-validator/mockbridge/pendingInbox.go
  packages/arb-validator/mockbridge/pendingTopChallengeWatcher.go
Due: arb-validator

Move Notification info into Event structs
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/arbbridge/watcher.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/executionChallenge_test.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/pendingTopChallenge.go
  packages/arb-validator/challenges/pendingTopChallenge_test.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/logFetcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakingKey.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

Remove header stream from challenges
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallenge.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
Due: arb-validator

Clean up challenge reorg handling
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/arbbridge/watcher.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/executionChallenge_test.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/pendingTopChallenge.go
  packages/arb-validator/challenges/pendingTopChallenge_test.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/challengeTester.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/logFetcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
Due: arb-validator

Update README.md
  README.md
Due: none

Use HandleBlockchainNotifications in rollupmanager
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/arbbridge/watcher.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakingKey.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

change event processing
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/rollup/rollup.go
Due: arb-bridge-eth, arb-validator

edit providers
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-compiler-evm/Pipfile
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-provider-go/connection.go
  packages/arb-validator/arbbridge/pendingInbox.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/mockbridge/pendingInbox.go
Due: arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-validator

Surface methods to top of Manager API
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/challengeFactory.go
  packages/arb-validator/ethbridge/challengeTester.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/stakingKey.go
  packages/arb-validator/rollupmanager/manager.go
  packages/arb-validator/rollupvalidator/rpcserver.go
  packages/arb-validator/rollupvalidator/server.go
Due: arb-validator

rollupServer working again with using new manager and checkpointer
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollupmanager/manager.go
  packages/arb-validator/structures/params.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-avm-cpp, arb-validator

Fix arb-provider-go test
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-provider-go, arb-validator

Clean up channel design
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/arbbridge/watcher.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionChallengeWatcher.go
  packages/arb-validator/ethbridge/logFetcher.go
  packages/arb-validator/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/bisectionChallenge.go
  packages/arb-validator/mockbridge/challenge.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
Due: arb-validator

Add more debug output
  packages/arb-validator/arbbridge/vmConnection.go
  packages/arb-validator/challenges/pendingTopChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallengeWatcher.go
Due: arb-validator

More debug output
  packages/arb-validator/arbbridge/vmConnection.go
Due: arb-validator

Make challenge test helper restart on reorg
  packages/arb-validator/challenges/testHelper.go
Due: arb-validator

makeConstTransaction led to failed assertions
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
Due: arb-avm-cpp
