Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Add ethhash2 instruction to AVM spec
  docs/AVM_Specification.md
Due: none

Implement ethhash2 instruction in both AVMs, EthBridge and compiler
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-go/code/code.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-compiler-evm/arb-test.py
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/instructions.py
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-validator

Update AVM std lib to use ethhash2 instruction
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
Due: arb-compiler-evm

Add missing file
  packages/arb-validator/proofmachine/opcodetestethhash2.ao
Due: arb-validator

Fix compiler log parsing
  packages/arb-compiler-evm/arbitrum/evm/log.py
Due: arb-compiler-evm

Update bridge_eth_addresses
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-validator/bridge_eth_addresses.json
Due: arb-provider-go, arb-validator

added more token functionality
  demos/interop/dist/index.html
  demos/interop/src/app.js
  packages/arb-provider-ethers/src/lib/ArbERC20.json
  packages/arb-provider-ethers/src/lib/ArbERC721.json
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-provider-ethers, arb-validator

Fix Markdown formatting bug
  docs/AVM_Specification.md
Due: none

Fix arb-provider-go test
  packages/arb-provider-go/test/contract.ao
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/contract.ao
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/structures/nodeData.go
Due: arb-provider-go, arb-validator

Add new speedtests
  packages/arb-compiler-evm/arb-speedtest.py
Due: arb-compiler-evm

eth transactions
  demos/interop/src/app.js
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb-provider-ethers

eth getbalance()/ withdraw() js
  demos/interop/src/app.js
Due: none

Fix bug in benchmark
  packages/arb-compiler-evm/arb-speedtest.py
Due: arb-compiler-evm

Update ArbGas costs in spec
  docs/AVM_Specification.md
Due: none

Modify ArbGas costs of tset, hash, ethhash2
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-go/vm/instructions.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth

Refactor checkpoint creation code
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

Add evil stack, for testing
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rolluptest/evilMachine.go
  packages/arb-validator/rolluptest/evilRollupCheckpointer.go
Due: arb-validator

Make rollupServer take db location on command line
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
Due: arb-validator

Add infinite loop .ao for testing
  packages/arb-compiler-evm/arb-infiniteloop.py
  packages/arb-compiler-evm/infiniteloop.ao
Due: arb-compiler-evm

Bugfix
  packages/arb-validator/rolluptest/evilRollupCheckpointer.go
Due: arb-validator

Update arb_deploy for consistency with db args
  scripts/arb_deploy.py
Due: none

Add support for conversion between sized_byterange and bytestack
  packages/arb-compiler-evm/arbitrum/std/__init__.py
  packages/arb-compiler-evm/arbitrum/std/bigtuple.py
  packages/arb-compiler-evm/arbitrum/std/sized_byterange.py
  packages/arb-compiler-evm/arbitrum/std/stack.py
  packages/arb-compiler-evm/arbitrum/tests/test_sized_byterange.py
Due: arb-compiler-evm

Separate message hashing out from global inbox
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/Messages.sol
Due: arb-bridge-eth

Switch arb-provider-ethers from byterange to bytestack
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/value.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-provider-ethers/tests/arb-value.test.ts
Due: arb-provider-ethers

Switch go libraries from byterange to bytestack
  packages/arb-provider-go/connection.go
  packages/arb-validator/evm/data.go
  packages/arb-validator/evm/data_test.go
  packages/arb-validator/evm/evm_advise.go
Due: arb-provider-go, arb-validator

Switch compiler to using bytestack for input and output byte data instead of byterange
  packages/arb-compiler-evm/arbitrum/evm/contract_abi.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/std/__init__.py
  packages/arb-compiler-evm/arbitrum/std/stack.py
  packages/arb-compiler-evm/arbitrum/tests/test_stack.py
Due: arb-compiler-evm

Add bytestack support in solidity
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/test/arbValue.js
Due: arb-bridge-eth

Fix arb-avm-cpp extension parsing
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
Due: arb-avm-cpp

Publish ArbValue and ArbProvider from arb-provider-ethers
  demos/election/src/app.js
  packages/arb-provider-web3/index.js
Due: arb-provider-web3

Fix call data processing
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-provider-ethers, arb-validator

Remove extra prints
  demos/interop/src/app.js
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb-provider-ethers

Storage message commitments instead of values in pending inbox
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
Due: arb-bridge-eth

Fixup
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-validator/message/erc20.go
  packages/arb-validator/message/erc721.go
  packages/arb-validator/message/eth.go
  packages/arb-validator/message/message.go
  packages/arb-validator/message/transaction.go
Due: arb-bridge-eth, arb-validator

Add info to chain status string
  packages/arb-validator/rollup/stakerSet.go
Due: arb-validator

Fix test compilation
  packages/arb-validator/ethbridgetest/ethbridgetest.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Fix message processing
  packages/arb-provider-go/connection.go
  packages/arb-validator/arbbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/mockbridge/pendingInbox.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-provider-go, arb-validator

Update fib contract
  packages/arb-provider-go/test/contract.ao
  packages/arb-validator/contract.ao
Due: arb-provider-go, arb-validator

Fix race condition
  packages/arb-validator/message/erc20.go
  packages/arb-validator/message/erc721.go
  packages/arb-validator/message/eth.go
  packages/arb-validator/message/transaction.go
Due: arb-validator
