Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Fix python coverage
  .circleci/config.yml
Due: none

Add setuptools dep
  .circleci/config.yml
Due: none

Remove dep and fix nosetests
  .circleci/config.yml
Due: none

Further work partially implementing new rollup protocol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

More partial implementation of rollup protocol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

MockEth WIP
  packages/arb-provider-go/go.mod
  packages/arb-validator/ethbridge/arbChannel.go
Due: arb-provider-go, arb-validator

Start refactoring message processing code
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
Due: arb-compiler-evm

Add message types
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

pending inbox -added message types
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

Change compiler over to new message system
  packages/arb-compiler-evm/arbitrum/ast.py
  packages/arb-compiler-evm/arbitrum/evm/accounts.py
  packages/arb-compiler-evm/arbitrum/evm/call_frame.py
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/contract.py
  packages/arb-compiler-evm/arbitrum/evm/contract_abi.py
  packages/arb-compiler-evm/arbitrum/evm/contract_templates.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/tokens.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
  packages/arb-compiler-evm/arbitrum/std/__init__.py
  packages/arb-compiler-evm/arbitrum/std/comparison.py
  packages/arb-compiler-evm/arbitrum/std/keyvalue.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-compiler-evm/arbitrum/value.py
  packages/arb-compiler-evm/arbitrum/vm_runner.py
  packages/arb-compiler-evm/contract-templates/contracts/ArbERC20.sol
  packages/arb-compiler-evm/contract-templates/contracts/ArbERC721.sol
  packages/arb-compiler-evm/contract-templates/contracts/ArbSys.sol
Due: arb-compiler-evm

Add tests for erc20 and erc721 deposits and withdrawals
  packages/arb-compiler-evm/arbitrum/evm/accounts.py
  packages/arb-compiler-evm/arbitrum/evm/contract-templates.json
  packages/arb-compiler-evm/arbitrum/evm/contract.py
  packages/arb-compiler-evm/arbitrum/evm/contract_abi.py
  packages/arb-compiler-evm/arbitrum/evm/contract_templates.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-compiler-evm/contract-templates/contracts/ArbERC20.sol
  packages/arb-compiler-evm/contract-templates/contracts/ArbERC721.sol
Due: arb-compiler-evm

Add eth deposit and withdraw test
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

All compiler tests passing
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

Disable sol-syscall test
  .circleci/config.yml
Due: none

edits
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

ArbGas implementation WIP
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbBase.sol
  packages/arb-bridge-eth/contracts/vm/ChannelFactory.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/IArbChain.sol
  packages/arb-bridge-eth/contracts/vm/IArbChannel.sol
  packages/arb-util/go.sum
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-util

Fix some build errors
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/vm/ChainFactory.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
Due: arb-bridge-eth

Fix bisectAssertion compilation
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
Due: arb-bridge-eth

Fix update-abi and run update
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/chainfactory/chainfactory.go
  packages/arb-validator/ethbridge/challenge/challenge.go
  packages/arb-validator/ethbridge/channelfactory/channelfactory.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  scripts/update-abi
Due: arb-provider-ethers, arb-validator

Implement ArbGas WIP
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-bridge-eth/contracts/vm/ChainFactory.sol
  packages/arb-bridge-eth/contracts/vm/ChannelFactory.sol
  packages/arb-bridge-eth/contracts/vm/IArbChain.sol
  packages/arb-bridge-eth/contracts/vm/IArbChannel.sol
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-util/protocol/assertion.go
  packages/arb-validator/ethbridge/arbBase.go
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/chainfactory/chainfactory.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/channelfactory/channelfactory.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-bridge-eth, arb-provider-ethers, arb-util, arb-validator

Implement ArbGas WIP
  packages/arb-avm-cpp/avm/include/avm/opcodes.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
Due: arb-avm-cpp, arb-bridge-eth

Remove dead code
  packages/arb-compiler-evm/arbitrum/evm/os.py
Due: arb-compiler-evm

Make withdraw output be of message type
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

Add back in arbitrum precompile stub with new address(100)
  packages/arb-compiler-evm/arbitrum/evm/execution.py
Due: arb-compiler-evm

edit messages
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
Due: arb-bridge-eth

edits
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
Due: arb-bridge-eth

edit deserialization
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

inbox matching changes
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
Due: arb-bridge-eth

edits
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

fix type conversions
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

tmp fix
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

tmp fix
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

edits
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
Due: arb-bridge-eth

fix errora
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
Due: arb-bridge-eth

Use random network id in truffle provider to only grab deployed contracts
  packages/arb-provider-truffle/lib/index.js
Due: arb-provider-truffle

Add initial (broken) token interoperability demo
  demos/interop/.gitignore
  demos/interop/bs-config.json
  demos/interop/contracts/.gitkeep
  demos/interop/contracts/Migrations.sol
  demos/interop/contracts/TestToken.sol
  demos/interop/migrations/1_initial_migration.js
  demos/interop/migrations/2_deploy_eth.js
  demos/interop/package.json
  demos/interop/src/app.js
  demos/interop/test/.gitkeep
  demos/interop/test/election.js
  demos/interop/truffle-config.js
  demos/interop/webpack.config.js
  yarn.lock
Due: none

Fix to pass tests
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-validator/ethbridge/arbBase.go
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/chainfactory/chainfactory.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/challenge/challenge.go
  packages/arb-validator/ethbridge/channelfactory/channelfactory.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

edits
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb-bridge-eth

fix interface
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
Due: arb-bridge-eth

fix stack too deep
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
Due: arb-bridge-eth
