Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

circleci; Dowgrade alpine version to fix lcov bug
  .circleci/images/build-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
Due: none

Clean up and simplify circleci
  .circleci/config.yml
  packages/arb-bridge-eth/contracts/libraries/ArbValue.sol
  packages/arb-bridge-eth/ethpm.json
  packages/arb-bridge-eth/installed_contracts/bytes/contracts/AssertBytes.sol
  packages/arb-bridge-eth/installed_contracts/bytes/contracts/BytesLib.sol
  packages/arb-bridge-eth/installed_contracts/bytes/contracts/Migrations.sol
  packages/arb-bridge-eth/installed_contracts/bytes/ethpm.json
  packages/arb-bridge-eth/installed_contracts/bytes/lock.json
  packages/arb-bridge-eth/installed_contracts/bytes/lock.uri
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: arb-bridge-eth

Fix circleci config
  .circleci/config.yml
Due: none

circleci: Expand recorded test coverage
  .circleci/config.yml
Due: none

circleci: Expand reported test coverage
  .circleci/config.yml
Due: none

codecov: Ignore generated files
  codecov.yml
Due: none

Cleanup
  packages/arb-provider-go/go.mod
Due: arb-provider-go

Cleanup
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-provider-go/go.sum
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
Due: arb-avm-cpp, arb-provider-go, arb-validator

Clean up deps and docs
  docs/Developer_Quickstart.md
  package.json
  packages/arb-bridge-eth/.dockerignore
  packages/arb-bridge-eth/Dockerfile
  packages/arb-bridge-eth/parity/config.toml
  requirements.txt
  scripts/arb_deploy.py
  scripts/setup_states.py
  yarn.lock
Due: arb-bridge-eth

Fix arb_deploy
  packages/arb-provider-go/go.mod
  scripts/arb_deploy.py
Due: arb-provider-go

Fix build when rocksdb not found
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
Due: arb-avm-cpp

Improve polling and subscription shutdown in arb-provider-go
  packages/arb-provider-go/connection.go
  packages/arb-provider-go/go.mod
Due: arb-provider-go

Implement FilterLogs in arb-provider-go
  packages/arb-provider-go/connection.go
Due: arb-provider-go

Unify TimeBoundsBuf and TimeBounds
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/testmachine/machine.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
  packages/arb-validator/valmessage/requests.go
  packages/arb-validator/valmessage/valmessage.pb.go
  packages/arb-validator/valmessage/valmessage.proto
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Make AssertionBuf a protocol buffer
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/oneStepProof.go
Due: arb-bridge-eth, arb-util, arb-validator

Remove message data from assertion proposals
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/contracts/libraries/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-provider-ethers/package.json
  packages/arb-provider-go/go.mod
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  yarn.lock
Due: arb-bridge-eth, arb-provider-ethers, arb-provider-go, arb-util, arb-validator

Remove balance from Core
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/validator/chainValidator.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
Due: arb-validator

Remove balance tracking from AVM
  packages/arb-avm-cpp/avm/include/avm/checkpoint/checkpointutils.hpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/blockreason.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/tokenTracker.hpp
  packages/arb-avm-cpp/avm/include/avm/opcodes.hpp
  packages/arb-avm-cpp/avm/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/avm/src/machinestate/blockreason.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate/tokenTracker.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/balanceTracker.cpp
  packages/arb-avm-cpp/tests/blockreason.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
  packages/arb-avm-cpp/tests/tokenTracker.cpp
  packages/arb-avm-go/code/code.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/blocking.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/balanceTracker.go
  packages/arb-util/protocol/tokenTracker.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Remove balance from precondition and simplify ethbridge code
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/contracts/libraries/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/validator/validator.go
Due: arb-bridge-eth, arb-provider-ethers, arb-util, arb-validator

Removed unused TokenTracker functionality
  packages/arb-util/protocol/serialization.go
  packages/arb-util/protocol/tokenTracker.go
Due: arb-util

Unify PreconditionBuf and Precondition
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-validator/core/core.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/validator/validator.go
Due: arb-util, arb-validator

Fix arb-avm-go tests
  packages/arb-avm-go/checkpoint/checkpoint.go
  packages/arb-avm-go/vm/instructions_test.go
Due: arb-avm-go

Bug fixes (Fixing broken tests)
  packages/arb-avm-cpp/avm/src/machinestate/tokenTracker.cpp
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-compiler-evm/arb-test.py
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/instructions.py
  packages/arb-provider-go/test/contract.ao
  packages/arb-util/protocol/message.go
  packages/arb-validator/test/opcodetestdup.ao
  packages/arb-validator/test/opcodetesthash.ao
  packages/arb-validator/test/opcodetestlogic.ao
  packages/arb-validator/test/opcodetestmath.ao
  packages/arb-validator/test/opcodeteststack.ao
  packages/arb-validator/test/opcodetesttuple.ao
  packages/arb-validator/test/proof_test.go
Due: arb-avm-cpp, arb-bridge-eth, arb-compiler-evm, arb-provider-go, arb-util, arb-validator

Keep messages as values in assertion instead of parsing
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/message.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/hashing/hashing.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Keep messages as simple values until assertion is confirmed
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/libraries/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/libraries/ArbValue.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/test/contract.ao
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Fix cpp avm send
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: arb-avm-cpp

Remove typechecking in send instruction
  packages/arb-avm-cpp/avm/include/avm/opcodes.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-go/code/code.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth

EthBridge cleanups
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
Due: arb-bridge-eth

Update AVM spec to match new implementation
  docs/AVM_Specification.md
Due: none

Emit deadlines as part of events
  packages/arb-bridge-eth/contracts/ChallengeManager.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Remove core.Config from challenge state machine
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/core.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
  packages/arb-validator/state/disputable.go
Due: arb-validator

Move factory contracts into separate folder
  packages/arb-bridge-eth/contracts/factories/ChainFactory.sol
  packages/arb-bridge-eth/contracts/factories/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/factories/ChannelFactory.sol
  packages/arb-bridge-eth/contracts/factories/CloneFactory.sol
  packages/arb-bridge-eth/contracts/factories/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/chainfactory/chainfactory.go
  packages/arb-validator/ethbridge/channelfactory/channelfactory.go
  scripts/update-abi
Due: arb-bridge-eth, arb-validator

Destroy challenge contract at end of challenge
  packages/arb-bridge-eth/contracts/challenge/ArbChallenge.sol
Due: arb-bridge-eth

Fix challenge self-destruct
  packages/arb-bridge-eth/contracts/challenge/ArbChallenge.sol
Due: arb-bridge-eth

Block VM from being initialized twice
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
Due: arb-bridge-eth

Separate beforeInbox and timebounds from rest of challenge
  packages/arb-bridge-eth/contracts/challenge/ArbChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/challenge/IArbChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/contracts/factories/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/factories/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-provider-ethers/src/lib/ArbChain.d.ts
  packages/arb-provider-ethers/src/lib/ArbChainFactory.ts
  packages/arb-provider-ethers/src/lib/ArbChannel.d.ts
  packages/arb-provider-ethers/src/lib/ArbChannelFactory.ts
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchallenge/arbchallenge.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/arbitrumVM.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Optimizing bisection
  packages/arb-bridge-eth/contracts/challenge/ArbChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-validator/ethbridge/arbchallenge/arbchallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
Due: arb-bridge-eth, arb-validator

Switch bisection cutting strategy
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-util/machine/defender.go
  packages/arb-validator/ethbridge/challenge.go
Due: arb-bridge-eth, arb-util, arb-validator

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
