Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

OneStepProof test
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/test/bridge_eth_addresses.json
  packages/arb-validator/test/proof_test.go
Due: arb-avm-go, arb-bridge-eth, arb-validator

one step proof WIP
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-go/code/code.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/contracts/libraries/ArbValue.sol
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/test/proof_test.go
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-validator

72: cmake
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
Due: arb-avm-cpp

Cpp machine - RunOne cleanup.
  packages/arb-avm-cpp/avm/src/machine.cpp
Due: arb-avm-cpp

Fix up rocksdb build
  .gitignore
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
Due: arb-avm-cpp

Disable zlib and bz2
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
Due: arb-avm-cpp

72: rocksdb headers
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
Due: arb-avm-cpp

Check in good contract.ao.
  packages/arb-provider-go/test/contract.ao
  packages/arb-validator/test/contract.ao
Due: arb-provider-go, arb-validator

Check in correct version of contract.ao for arb-provider-go/test
  packages/arb-provider-go/test/contract.ao
Due: arb-provider-go

OneStepProof test
  packages/arb-validator/test/proof_test.go
Due: arb-validator

Surface OneStepProof validateProof functioin for testing
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-provider-go/go.mod
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/chainlauncher/chainlauncher.go
  packages/arb-validator/ethbridge/challengemanager/challengemanager.go
  packages/arb-validator/ethbridge/channellauncher/channellauncher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  scripts/update-abi
Due: arb-bridge-eth, arb-provider-go, arb-validator

OneStepProof test
  packages/arb-avm-go/vm/machinePC.go
  packages/arb-provider-go/go.mod
  packages/arb-validator/validator/channelValidator.go
Due: arb-avm-go, arb-provider-go, arb-validator

proof test machine WIP
  packages/arb-avm-cpp/go.sum
  packages/arb-avm-go/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/test/proof_test.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

proof test machine WIP
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-avm-go/vm/stack/flat.go
  packages/arb-avm-go/vm/stack/tuple.go
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/contract.ao
  packages/arb-validator/loader/loader.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/test/challenge_test.go
  packages/arb-validator/test/proof_test.go
  yarn.lock
Due: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-provider-go, arb-validator

proof test machine WIP
  packages/arb-avm-cpp/avm/src/machine.cpp
Due: arb-avm-cpp

proof test machine WIP
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-provider-go/go.mod
  packages/arb-util/protocol/inbox.go
  packages/arb-validator/go.sum
  packages/arb-validator/loader/loader.go
  packages/arb-validator/state/disputable.go
  packages/arb-validator/test/challenge_test.go
  packages/arb-validator/test/proof_test.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-go, arb-provider-go, arb-util, arb-validator

proof test machine WIP
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/testmachine/machine.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/validator/validator.go
Due: arb-provider-go, arb-validator

OneStepProof test
  packages/arb-validator/test/contract.ao
Due: arb-validator

proof test machine WIP
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/loader/loader.go
  packages/arb-validator/test/challenge_test.go
  packages/arb-validator/test/proof_test.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-go, arb-validator

Surface OneStepProof validateProof functioin for testing
  packages/arb-provider-go/go.mod
Due: arb-provider-go

OneStepProof test
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/test/proof_test.go
Due: arb-avm-go, arb-validator

OneStepProof test
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/test/proof_test.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-avm-go, arb-validator

one step proof WIP
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-avm-go/vm/stack/flat.go
  packages/arb-avm-go/vm/stack/tuple.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/validator/channelValidator.go
Due: arb-avm-cpp, arb-avm-go, arb-validator

OneStepProof test
  packages/arb-provider-go/go.mod
Due: arb-provider-go

OneStepProof test
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-validator

proof test machine WIP
  packages/arb-provider-go/go.mod
  packages/arb-validator/testmachine/machine.go
Due: arb-provider-go, arb-validator

proof test machine WIP
  packages/arb-validator/testmachine/machine.go
Due: arb-validator

proof test machine WIP
  packages/arb-validator/validator/channelValidator.go
Due: arb-validator

one step proof WIP
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-validator/validator/channelValidator.go
Due: arb-avm-cpp, arb-validator

72: edits
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointstorage.cpp
  packages/arb-avm-cpp/tests/contract.ao
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: arb-avm-cpp

72: edits
  packages/arb-avm-cpp/tests/messagestack.cpp
Due: arb-avm-cpp

72: add target
  packages/arb-avm-cpp/cavm/CMakeLists.txt
  packages/arb-avm-cpp/tests/machine.cpp
Due: arb-avm-cpp

Fix cmachine compilation
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-validator

Add libm dependecy
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/cmachine/machine.go
Due: arb-avm-cpp

Add rocksdb caching
  .circleci/config.yml
Due: none

Fix rocksdb dep in xcode
  packages/arb-avm-cpp/cmake/build-rocksdb.cmake
Due: arb-avm-cpp
