Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Switch bisection to short error strings
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
Due: arb-bridge-eth

Increase bisection cut from 6 to 50
  packages/arb-validator/challenge/defender/defender.go
Due: arb-validator

Refactor and cleanup challenge interface
  packages/arb-bridge-eth/contracts/challenge/ArbChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/Bisection.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeImpl.sol
  packages/arb-bridge-eth/contracts/challenge/OneStepProof.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-validator/ethbridge/arbchallenge/arbchallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
Due: arb-bridge-eth, arb-validator

Refactor challenge into single contract
  packages/arb-bridge-eth/contracts/challenge/ArbChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeImpl.sol
  packages/arb-bridge-eth/contracts/challenge/IChallenge.sol
  packages/arb-bridge-eth/contracts/factories/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/libraries/OneStepProof.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-validator/test/bridge_eth_addresses.json
Due: arb-bridge-eth, arb-provider-go, arb-validator

Clean up naming scheme
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/challenge.go
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/factories/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/libraries/Machine.sol
  packages/arb-bridge-eth/contracts/libraries/OneStepProof.sol
  packages/arb-bridge-eth/contracts/libraries/Protocol.sol
  packages/arb-bridge-eth/contracts/libraries/Value.sol
  packages/arb-bridge-eth/contracts/vm/ArbBase.sol
  packages/arb-bridge-eth/contracts/vm/ArbChain.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/IArbBase.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-validator/ethbridge/arbBase.go
  packages/arb-validator/ethbridge/arbChain.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/arbchain/arbchain.go
  packages/arb-validator/ethbridge/arbchallenge/arbchallenge.go
  packages/arb-validator/ethbridge/arbchannel/arbchannel.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/challenge/challenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  scripts/update-abi
Due: arb-bridge-eth, arb-validator

Continue Refactor
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/challenge.go
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/libraries/CloneFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbBase.sol
  packages/arb-bridge-eth/contracts/vm/ChainFactory.sol
  packages/arb-bridge-eth/contracts/vm/ChannelFactory.sol
  packages/arb-bridge-eth/contracts/vm/Disputable.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  scripts/update-abi
Due: arb-bridge-eth

Finish updating developer docs for parity
  docs/Developer_Quickstart.md
  packages/arb-bridge-eth/parity/poa.json
Due: arb-bridge-eth

Add instructions to build parity docker image
  docs/Developer_Quickstart.md
Due: none

Fix import
  packages/arb-validator/test/proof_test.go
Due: arb-validator

Don't use codecov tags and only upload once per job
  .circleci/config.yml
Due: none

Update bridge addresses
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-validator/test/bridge_eth_addresses.json
Due: arb-provider-go, arb-validator

Slow down block creation
  packages/arb-bridge-eth/parity/poa.json
Due: arb-bridge-eth

Add more debugging information to transaction failures
  packages/arb-validator/ethbridge/arbBase.go
  packages/arb-validator/ethbridge/arbChain.go
  packages/arb-validator/ethbridge/arbChannel.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/chainFactory.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/channelFactory.go
  packages/arb-validator/ethbridge/pendingInbox.go
Due: arb-validator

Bump go package versions
  packages/arb-avm-cpp/go.sum
  packages/arb-avm-go/go.mod
  packages/arb-avm-go/go.sum
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
Due: arb-avm-cpp, arb-avm-go, arb-provider-go, arb-util, arb-validator

Fix circleci go caching
  .circleci/config.yml
Due: none

Update codecov ignores
  codecov.yml
Due: none

Ignore another file for codecov
  codecov.yml
Due: none

Store contract code_point in contract_state instead of statically
  packages/arb-compiler-evm/arbitrum/compiler.py
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
  packages/arb-compiler-evm/arbitrum/std/bst.py
Due: arb-compiler-evm

Switch contracts name to accounts
  packages/arb-compiler-evm/arbitrum/evm/call_frame.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
Due: arb-compiler-evm

Separate account types into separate file
  packages/arb-compiler-evm/arbitrum/evm/accounts.py
  packages/arb-compiler-evm/arbitrum/evm/call_frame.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
Due: arb-compiler-evm

Add method to clone contract
  packages/arb-compiler-evm/arbitrum/evm/accounts.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
Due: arb-compiler-evm

Kill extra dispatch_func params
  packages/arb-compiler-evm/arbitrum/evm/execution.py
Due: arb-compiler-evm

Enable GASLIMIT opcode to fix compilation
  packages/arb-compiler-evm/arbitrum/evm/compile.py
Due: arb-compiler-evm

Simplify metadata removal
  packages/arb-compiler-evm/arbitrum/evm/compile.py
Due: arb-compiler-evm

Make callid in label unique
  packages/arb-compiler-evm/arbitrum/evm/compile.py
Due: arb-compiler-evm

Add option to arb-provider-truffle to only produce compiled.json
  packages/arb-provider-truffle/lib/index.js
Due: arb-provider-truffle

Update ArbSys interface
  packages/arb-compiler-evm/ArbSys.sol
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/tests/sol-syscall/contracts/ArbSys.sol
  packages/arb-compiler-evm/tests/sol-syscall/contracts/Test.sol
  packages/arb-compiler-evm/tests/sol-syscall/truffle_runner.py
Due: arb-compiler-evm

arbc-truffle ignore compiled contracts that weren't migrated
  packages/arb-compiler-evm/bin/arbc-truffle
Due: arb-compiler-evm

Add solidity project that creates contract templates
  package.json
  packages/arb-compiler-evm/contract-templates/contracts/ArbERC20.sol
  packages/arb-compiler-evm/contract-templates/contracts/ArbERC721.sol
  packages/arb-compiler-evm/contract-templates/contracts/ArbSys.sol
  packages/arb-compiler-evm/contract-templates/contracts/Migrations.sol
  packages/arb-compiler-evm/contract-templates/migrations/1_initial_migration.js
  packages/arb-compiler-evm/contract-templates/migrations/2_contracts.js
  packages/arb-compiler-evm/contract-templates/package.json
  packages/arb-compiler-evm/contract-templates/truffle-config.js
  yarn.lock
Due: arb-compiler-evm

Include contract templates in every arbitrum VM
  packages/arb-compiler-evm/MANIFEST.in
  packages/arb-compiler-evm/arbitrum/evm/contract-templates.json
  packages/arb-compiler-evm/arbitrum/evm/contract.py
  packages/arb-compiler-evm/setup.py
Due: arb-compiler-evm

Add "importlib_resources" requirement
  packages/arb-compiler-evm/Pipfile
  packages/arb-compiler-evm/requirements.txt
Due: arb-compiler-evm

Update python versions
  packages/arb-compiler-evm/Pipfile.lock
  packages/arb-compiler-evm/requirements.txt
Due: arb-compiler-evm

Fix metadata handling for tests
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/contract.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

Don't try to ABI decode EVMRevert outputs
  packages/arb-compiler-evm/arbitrum/evm/log.py
Due: arb-compiler-evm

Speed up ASTTransformer dispatch
  packages/arb-compiler-evm/arbitrum/ast.py
  packages/arb-compiler-evm/arbitrum/compiler.py
Due: arb-compiler-evm

Flatten out blocks in optimizer to speed up recursion
  packages/arb-compiler-evm/arbitrum/compiler.py
Due: arb-compiler-evm

Fix vm compilation
  packages/arb-compiler-evm/arbitrum/evm/contract.py
Due: arb-compiler-evm

Fix inclusion of contract-templates.json in python package
  packages/arb-compiler-evm/MANIFEST.in
Due: arb-compiler-evm

Add parallelism to evm test
  .circleci/config.yml
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-compiler-evm/setup.py
Due: arb-compiler-evm

Initial work implementing new rollup forking protocol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth
