Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Add arb-avm-cpp go tests
  .circleci/config.yml
Due: none

Fix circleci
  .circleci/config.yml
Due: none

Update circleci
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
Due: none

Correct description of hashing in AVM spec
  docs/AVM_Specification.md
Due: none

Add Rollup_basics documentation
  docs/Rollup_basics.md
Due: none

Speed up challenge tests (run in parallel)
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/executionChallenge_test.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/pendingTopChallenge_test.go
  packages/arb-validator/challenges/testHelper.go
Due: arb-validator

Create document on finality and confirmation
  docs/Finality.md
Due: none

Fix stress test
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollupmanager/manager.go
  packages/arb-validator/rollupmanager/stressTest.go
Due: arb-validator

Create parameter-setting advice document
  docs/Chain_parameters.md
Due: none

Fix geth support
  package.json
  packages/arb-bridge-eth/scripts/launch-geth
  scripts/setup_rollup.py
  scripts/setup_states.py
Due: arb-bridge-eth

Fix stress test
  packages/arb-validator/rollupmanager/stressTest.go
Due: arb-validator

Fix opinion thread termination
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

Fix geth setup_rollup
  packages/arb-bridge-eth/scripts/launch-geth
  packages/arb-bridge-eth/scripts/launch-parity
  scripts/setup_rollup.py
  scripts/setup_states.py
  scripts/support/run.py
Due: arb-bridge-eth

Cleanup and refactoring
  packages/arb-avm-cpp/avm/include/avm/machinestate/blockreason.hpp
  packages/arb-avm-cpp/avm/src/machinestate/blockreason.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/data_storage/src/transaction.cpp
  packages/arb-avm-cpp/tests/blockreason.cpp
Due: arb-avm-cpp

Update AVM spec description of the inbox
  docs/AVM_Specification.md
Due: none

Replace GetBlockReason with IsBlocked
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/blockreason.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/blockreason.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointutils.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/blockreason.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/machine.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/proofmachine/proofmachine_test.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Node machine always initialized nil
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Missed code in last commit
  packages/arb-validator/rollup/opinionThread.go
Due: arb-validator

Fix rollup test
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Add failing checkpoint test
  packages/arb-avm-cpp/cmachine/checkpoint_test.go
  packages/arb-avm-cpp/cmachine/cmachine_test.go
Due: arb-avm-cpp

Remove typecode from marshal_uint256_t
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
Due: arb-avm-cpp

Fix machine checkpointing
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: arb-avm-cpp

Add checkpointing debug output
  packages/arb-validator/rollup/checkpointing.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

Remove static value from checkpoint
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cmachine/checkpoint_test.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointutils.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatedeleter.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
Due: arb-avm-cpp

Fix machine restoration from checkpoint
  packages/arb-avm-cpp/avm_values/src/codepoint.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/cmachine/contract.ao
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-validator/rollup/checkpointing.go
Due: arb-avm-cpp, arb-validator

Remove extra print statement
  packages/arb-validator/rollup/checkpointing.go
Due: arb-validator

Remove unused code
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/messagestack.hpp
  packages/arb-avm-cpp/avm/src/machinestate/messagestack.cpp
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/messagestack.cpp
Due: arb-avm-cpp

Refactor checkpointing
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/checkpointing/dummyCheckpointing.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-provider-go, arb-validator

Cleanup and refactoring
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/checkpointing/dummyCheckpointing.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

Fix test
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Start documentation on the payment model
  docs/Payments_and_tokens
Due: none

Switch to lockbox system
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
Due: arb-bridge-eth

edits and logging
  demos/interop/src/app.js
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/rollupmanager/manager.go
  packages/arb-validator/rollupvalidator/server.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Refactor
  packages/arb-validator/checkpointing/checkpointing.go
Due: arb-validator

WIP
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/arbFactory.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/challengeFactory.go
  packages/arb-validator/mockbridge/challengeTester.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/mockbridge/mockEthNodeGraph.go
  packages/arb-validator/mockbridge/pendingInbox.go
Due: arb-validator

Simplify lockbox interface
  packages/arb-bridge-eth/contracts/GlobalWallet.sol
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-validator/arbbridge/pendingInbox.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/mockbridge/pendingInbox.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Refactor
  packages/arb-validator/checkpointing/asyncCheckpointWriter.go
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

Add databasePath arg to checkpointer
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-validator

edits
  packages/arb-bridge-eth/contracts/GlobalPendingInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalPendingInbox.sol
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator
