Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

edit pool reference
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointstorage.cpp
Due: arb-avm-cpp

Client causes challenges when possible
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

Improve challenge generation
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

Refactor and finish cleanup thread code
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Add thread to update client opinion about latest valid node
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Bugfix
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/opinion.go
Due: arb-validator

Cleanup challege code
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-bridge-eth, arb-validator

Checkpoint and restore whether chain is opinionated
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Bugfix
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Clean up some thread safety issues in startOpinionUpdateThread
  packages/arb-util/protocol/executionAssertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/structures/nodeData.go
Due: arb-util, arb-validator

Start building out ethbridge rollup tests
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/test/arbRollup.js
  yarn.lock
Due: arb-bridge-eth

Bugfix and refactor
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/structures/pendingInbox.go
  packages/arb-validator/structures/pendingInbox_test.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

Refactor marshal/checkpoint code in rollup
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/pendingInbox.go
  packages/arb-validator/structures/pendingInbox_test.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

More checkpointing prep
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

Refactor to eliminate invariant
  packages/arb-validator/structures/pendingInbox.go
Due: arb-validator

Remove unneccessary ethbridge params
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/cleanupThread.go
Due: arb-bridge-eth, arb-validator

Add dummy checkpointer for testing
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

Use RLocker for cond inside rollup
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Initial TransactionReceipt implementation.
  packages/arb-provider-go/connection.go
  packages/arb-provider-go/validatorProxy.go
Due: arb-provider-go

fix pool initialization
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: arb-avm-cpp

Return an error when tx not found. Use zeroed ContractAddress.
  packages/arb-provider-go/connection.go
Due: arb-provider-go

Scaffolding for checkpointing and testing of same
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/structures/checkpointing.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

Make opinion thread prepare assertions
  packages/arb-util/protocol/precondition.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/structures/nodeData.go
Due: arb-util, arb-validator

Make ValidatorChainListener support multiple stakers
  packages/arb-util/utils/util.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/opinion.go
Due: arb-util, arb-validator

Have ValidatorChainListener make assertions when they are prepared
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/structures/nodeData.go
Due: arb-validator

Small merge fixes
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/src/machinestate/messagestack.cpp
  packages/arb-avm-cpp/tests/messagestack.cpp
Due: arb-avm-cpp

Make inbox part of assertion context in arb-avm-cpp
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint/checkpointutils.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/machinestatedeleter.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
Due: arb-avm-cpp

Move inbox out of machine into machine context
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/blocking.go
  packages/arb-util/machine/defender.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/executionAssertionStub.go
  packages/arb-util/protocol/precondition.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Move Context out of arb-util into arb-avm-cpp
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/machine.go
Due: arb-avm-go, arb-util

Fix rollup tests and add prune leaf test
  packages/arb-bridge-eth/test/arbRollup.js
Due: arb-bridge-eth

Clean up assertion interface in test
  packages/arb-bridge-eth/test/arbRollup.js
Due: arb-bridge-eth

Scaffolding and tests for checkpointer integration
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/checkpointing.go
Due: arb-validator

Fix integration bug
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Gas cost optimizations
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/libraries/DebugPrint.sol
  packages/arb-bridge-eth/contracts/libraries/MerkleLib.sol
  packages/arb-bridge-eth/contracts/libraries/SigUtils.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
Due: arb-bridge-eth

edit machine/checkpoint go interface
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.h
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-util/machine/checkpoint.go
  packages/arb-util/machine/machine.go
Due: arb-avm-cpp, arb-util

fix machine interface
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-go, arb-validator

Cleanup and refactoring
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-bridge-eth/test/arbRollup.js
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/onestepproof/onestepproof.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Start porting validator server implementation over to rollup code
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollupvalidator/rpcserver.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/rollupvalidator/server.pb.go
  packages/arb-validator/rollupvalidator/server.proto
  packages/arb-validator/rollupvalidator/txtracker.go
Due: arb-validator

Making progress hooking up validator to ethbridge
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/opinion.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/structures/pendingInbox.go
  scripts/setup_states.py
Due: arb-validator

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
