Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Fixup
  packages/arb-avm-cpp/tests/balanceTracker.cpp
Due: arb-avm-cpp

Fix testmachine
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-avm-go, arb-validator

Clean up includes
  packages/arb-bridge-eth/contracts/ArbMachine.sol
  packages/arb-bridge-eth/contracts/ArbProtocol.sol
  packages/arb-bridge-eth/contracts/Disputable.sol
  packages/arb-bridge-eth/contracts/OneStepProof.sol
  packages/arb-bridge-eth/contracts/SigUtils.sol
  packages/arb-bridge-eth/contracts/Unanimous.sol
  packages/arb-bridge-eth/contracts/VMTracker.sol
  packages/arb-bridge-eth/migrations/2_load_state_tracker.js
Due: arb-bridge-eth

Documentation fixes
  docs/Developer_Quickstart.md
Due: none

Nuke validator states
  scripts/arb_deploy.py
Due: none

Version bumb
  docs/Developer_Quickstart.md
Due: none

Initial draft of solidity support doc
  docs/Solidity_Support.md
Due: none

Fix formatting
  docs/Solidity_Support.md
Due: none

Doc updates
  docs/Solidity_Support.md
Due: none

Solidity support doc (#68)
  docs/Solidity_Support.md
Due: none

Single program to start a coordinator and validator then send messages to them to facilitate automated testing.
  packages/arb-test/LICENSE
  packages/arb-test/README.md
  packages/arb-test/chain/eventListeners.go
  packages/arb-test/chain/fibabi.go
  packages/arb-test/cmd/test-dapp/main.go
  packages/arb-test/contracts/Fibonacci.sol
  packages/arb-test/contracts/Migrations.sol
  packages/arb-test/go.mod
  packages/arb-test/go.sum
  packages/arb-test/migrations/1_initial_migration.js
  packages/arb-test/migrations/2_deploy_contracts.js
  packages/arb-test/server.crt
  packages/arb-test/server.key
  packages/arb-test/truffle-config.js
Due: none

Single program to start a coordinator and validator then send messages to them to facilitate automated testing.
  packages/arb-test/cmd/test-dapp/main.go
Due: none

Fix receipt log handling in arb-provider-ethers and arb-provider-ethers
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-web3/ethers-web3-bridge.js
Due: arb-provider-ethers, arb-provider-web3

Provider doc fix
  docs/Developer_Quickstart.md
Due: none

Provider version bump
  packages/arb-provider-ethers/package.json
  packages/arb-provider-web3/package.json
Due: arb-provider-ethers, arb-provider-web3

Fixed opcode order. Fixed contract address. Now works.
  packages/arb-avm-cpp/avm/include/avm/opcodes.hpp
  packages/arb-avm-go/code/code.go
  packages/arb-test/cmd/test-dapp/main.go
Due: arb-avm-cpp, arb-avm-go

Refactoring and cleanup.
  packages/arb-test/cmd/test-dapp/main.go
  packages/arb-validator/coordinator/rpcserver.go
  packages/arb-validator/coordinator/server.go
Due: arb-validator

Added testing for arb-provider-go.
  packages/arb-provider-go/chain/eventListeners.go
  packages/arb-provider-go/chain/fibabi.go
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/server.crt
  packages/arb-provider-go/test/server.key
Due: arb-provider-go

Revert "Added testing for arb-provider-go."
  packages/arb-provider-go/chain/eventListeners.go
  packages/arb-provider-go/chain/fibabi.go
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/server.crt
  packages/arb-provider-go/test/server.key
Due: arb-provider-go

Added testing for arb-provider-go.
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-provider-go/test/contract.ao
Due: arb-provider-go

Test ethbridge startup
  .circleci/config.yml
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/eventListeners.go
  packages/arb-provider-go/test/fibabi.go
Due: arb-provider-go

Test ethbridge startup
  .circleci/config.yml
Due: none

Test ethbridge startup
  .circleci/config.yml
  packages/arb-provider-go/test/connection_test.go
Due: arb-provider-go

Test ethbridge startup
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/cmd/challengeTest/main.go
Due: arb-provider-go, arb-validator

Cleanup from pull request comments.
  packages/arb-avm-go/code/code.go
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/eventListeners.go
  packages/arb-test/LICENSE
  packages/arb-test/README.md
  packages/arb-test/chain/eventListeners.go
  packages/arb-test/chain/fibabi.go
  packages/arb-test/cmd/test-dapp/main.go
  packages/arb-test/contracts/Fibonacci.sol
  packages/arb-test/contracts/Migrations.sol
  packages/arb-test/go.mod
  packages/arb-test/go.sum
  packages/arb-test/migrations/1_initial_migration.js
  packages/arb-test/migrations/2_deploy_contracts.js
  packages/arb-test/server.crt
  packages/arb-test/server.key
  packages/arb-test/truffle-config.js
  packages/arb-validator/cmd/coordinatorServer/main.go
  packages/arb-validator/coordinator/rpcserver.go
  packages/arb-validator/coordinator/server.go
Due: arb-avm-go, arb-provider-go, arb-validator

A little more cleanup.
  packages/arb-validator/cmd/coordinatorServer/main.go
  packages/arb-validator/coordinator/rpcserver.go
Due: arb-validator

A little more cleanup.
  packages/arb-provider-go/test/connection_test.go
Due: arb-provider-go

Arb test (#71)
  .circleci/config.yml
  packages/arb-avm-cpp/avm/include/avm/opcodes.hpp
  packages/arb-avm-go/code/code.go
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-provider-go/test/bridge_eth_addresses.json
  packages/arb-provider-go/test/connection_test.go
  packages/arb-provider-go/test/contract.ao
  packages/arb-provider-go/test/fibabi.go
  packages/arb-provider-go/test/server.crt
  packages/arb-provider-go/test/server.key
  packages/arb-validator/cmd/challengeTest/main.go
  packages/arb-validator/cmd/coordinatorServer/main.go
  packages/arb-validator/coordinator/rpcserver.go
  packages/arb-validator/coordinator/server.go
Due: arb-avm-cpp, arb-avm-go, arb-provider-go, arb-validator

Rename db to ganachedb and add to dockerignore
  packages/arb-bridge-eth/.dockerignore
  packages/arb-bridge-eth/Dockerfile
Due: arb-bridge-eth

Remove challenge dependence on unanimous functionality
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/core.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenge/observer/observer.go
Due: arb-validator

Start splitting apart arbitrum chains and channels
  packages/arb-bridge-eth/contracts/ChannelCreator.sol
  packages/arb-bridge-eth/contracts/vm/ArbChain.sol
  packages/arb-bridge-eth/contracts/vm/ArbChannel.sol
  packages/arb-bridge-eth/contracts/vm/ArbitrumVM.sol
  packages/arb-bridge-eth/contracts/vm/Unanimous.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-validator/ethbridge/channelCreator.go
  packages/arb-validator/ethbridge/vmTracker.go
  packages/arb-validator/ethconnection/channelCreator.go
  packages/arb-validator/ethconnection/channelcreator/channelcreator.go
  packages/arb-validator/ethconnection/pendingInbox.go
  packages/arb-validator/ethconnection/vmTracker.go
  packages/arb-validator/ethconnection/vmtracker/vmtracker.go
  packages/arb-validator/ethvalidator/validator.go
  packages/arb-validator/go.sum
  scripts/update-go-abi
Due: arb-bridge-eth, arb-validator

Rename state and validator to channelstate and channelvalidator
  packages/arb-validator/channelstate/core.go
  packages/arb-validator/channelstate/disputable.go
  packages/arb-validator/channelstate/requests.go
  packages/arb-validator/channelstate/unanimous.go
  packages/arb-validator/channelvalidator/validator.go
  packages/arb-validator/ethvalidator/vmvalidator.go
Due: arb-validator
