Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Add locking of nodeGraphs
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Add cleanup thread to prune mooted leaves
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

Add more rollup state cleanup to client
  packages/arb-validator/rollup/cleanupThread.go
Due: arb-validator

Bugfix
  packages/arb-validator/rollup/cleanupThread.go
Due: arb-validator

Add equality tests
  packages/arb-validator/rollup/leafSet.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/pendingInbox.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollupTime.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerSet.go
  packages/arb-validator/rollup/util.go
Due: arb-validator

Separate VMProtoData into struct
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Rename Assertion[Stub] to ExectionAssertion[Stub]
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/machineContext.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/defender.go
  packages/arb-util/machine/machine.go
  packages/arb-util/protocol/executionAssertion.go
  packages/arb-util/protocol/executionAssertionStub.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/serialization.go
  packages/arb-validator/bridge/bridge.go
  packages/arb-validator/challenge/challenger/challenger.go
  packages/arb-validator/challenge/defender/defender.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/channel/coordinator.go
  packages/arb-validator/channel/follower.go
  packages/arb-validator/channel/validator.go
  packages/arb-validator/disputable/requests.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/oneStepProof.go
  packages/arb-validator/ethbridge/vmConnection.go
  packages/arb-validator/ethvalidator/challenge.go
  packages/arb-validator/ethvalidator/vmValidator.go
  packages/arb-validator/hashing/hashing.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/rollup/disputableNode.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/state/disputable.go
  packages/arb-validator/state/unanimous.go
  packages/arb-validator/testmachine/machine.go
  packages/arb-validator/validator/channelValidator.go
  packages/arb-validator/valmessage/outgoing.go
  packages/arb-validator/valmessage/requests.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Move challenges into their own package
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallege.go
Due: arb-validator

Split transactor and event watcher
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/chain.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingInbox.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/rollup/observer.go
Due: arb-bridge-eth, arb-validator

Move numSteps out of assertion
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-util/machine/defender.go
  packages/arb-util/protocol/assertion.go
  packages/arb-util/protocol/assertionStub.go
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/disputableNode.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-bridge-eth, arb-util, arb-validator

Split out rollup structures and add more vocab types
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/disputableNode.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/pendingInbox.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerSet.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/params.go
  packages/arb-validator/structures/rollupTime.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
  packages/arb-validator/utils/util.go
Due: arb-validator

Finish merging refactor
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakerSet.go
Due: arb-validator

Hook challenges into observer
  packages/arb-util/machine/defender.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallege.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/params.go
  packages/arb-validator/structures/structures.pb.go
Due: arb-util, arb-validator

Move auth into ethbridge challenge contracts
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallege.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/ethbridge/vmConnection.go
Due: arb-validator

Bury ethclient.Client dep in challenges under an interface
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallege.go
  packages/arb-validator/ethbridge/bisectionChallenge.go
  packages/arb-validator/ethbridge/challenge.go
  packages/arb-validator/ethbridge/clientConnection.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/ethbridge/executionChallenge.go
  packages/arb-validator/ethbridge/messagesChallenge.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/ethbridge/vmConnection.go
Due: arb-validator

Add nodeDataHash cache to node
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
Due: arb-validator

Break recursive dependency
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/pendingTopChallege.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/structures/pendingInbox.go
  packages/arb-validator/structures/pendingInbox_test.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-validator

Init rollup time using seconds
  packages/arb-validator/structures/time.go
Due: arb-validator

Fix import loop
  packages/arb-validator/structures/pendingInbox.go
Due: arb-validator

Fix variable name
  packages/arb-validator/structures/nodeData.go
Due: arb-validator

Add test and bugfixes
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Fix equality comparison for ChainObserver
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Clean up listener interface
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/events.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/observer.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerSet.go
Due: arb-validator

Disable circleci tests
  .circleci/config.yml
Due: none

Bugfixes and type cleanups
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/machine/defender.go
  packages/arb-util/machine/machine.go
  packages/arb-validator/proofmachine/machine.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/test/proof_test.go
  packages/arb-validator/testmachine/machine.go
  packages/arb-validator/validator/channelValidator.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

More tests and bugfixes
  packages/arb-util/utils/util.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-util, arb-validator

Integration
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Bugfix
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
Due: arb-bridge-eth

More testing and bugfix
  packages/arb-validator/rollup/leafSet.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Notify listeners after event, not before
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Implement checking for conflict opportunities
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

Refactor chain listener
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Bugfixes
  packages/arb-util/utils/util.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-util, arb-validator

Cleanup and refactoring
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-validator

Add function to evaluate corrrectness of a valid node
  packages/arb-validator/rollup/rollup.go
Due: arb-validator

Remove inbox from vm proto data
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/structures/nodeData.go
  packages/arb-validator/structures/pendingInbox.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
Due: arb-bridge-eth, arb-validator

Fill in rest of challengeOpportunity struct
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-bridge-eth, arb-validator

Steps toward creating challenges
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb-validator

fix void* conversion to vector
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.h
  packages/arb-avm-cpp/cmachine/checkpoint.go
Due: arb-avm-cpp
