Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

Fix bug in GetConflictAncestor
  packages/arb-validator/rollup/nodeGraph.go
Due: arb-validator

Clear already-tried Tx list every minute; reduce maxsteps
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/testListeners.go
Due: arb-validator

Fix test integration bug
  packages/arb-provider-go/test/connection_test.go
Due: arb-provider-go

Initial documentation for ArbSys
  docs/Arbsys.md
Due: none

Update generated files
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-go/arbinfo.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
Due: arb-provider-ethers, arb-provider-go, arb-validator

Add cloneContract to documentation and fix ArbSys API
  docs/Arbsys.md
  packages/arb-compiler-evm/contract-templates/contracts/ArbSys.sol
Due: arb-compiler-evm

Fix handling of data segment in code
  packages/arb-compiler-evm/arbitrum/evm/compile.py
Due: arb-compiler-evm

Refactor
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
  packages/arb-validator/cmd/rollupServer/rollupServer.go
  packages/arb-validator/rollup/chainParamsSetting.go
Due: arb-validator

Format
  packages/arb-util/common/timeblocks.go
Due: arb-util

Make default more intuitive
  packages/arb-validator/rollup/chainParamsSetting.go
Due: arb-validator

Easier parameter customization
  packages/arb-validator/structures/params.go
Due: arb-validator

Fix imports
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
Due: arb-validator

Clarify grace period units
  packages/arb-validator/rollup/chainParamsSetting.go
Due: arb-validator

MockEth cleanup to merge non mock changes
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/messagesChallenge.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/mockbridge/pendingInbox.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/structures/challenge.go
  yarn.lock
Due: arb-validator

Fix ArbSys
  packages/arb-compiler-evm/arbitrum/evm/arbsys.py
  packages/arb-compiler-evm/arbitrum/evm/call_finish.py
  packages/arb-compiler-evm/arbitrum/evm/call_frame.py
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb-compiler-evm

Delete GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
Due: arb-provider-ethers

Improve interop demo token support
  demos/interop/dist/index.html
  demos/interop/src/app.js
Due: none

Add StakerSet.AnyDisagreement
  packages/arb-validator/rollup/stakerSet.go
Due: arb-validator

MockEth cleanup to merge non mock changes
  packages/arb-validator/arbbridge/challengeTester.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/pendingTopChallenge_test.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/challengeFactory.go
  packages/arb-validator/mockbridge/challengeTester.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/structures/challenge.go
Due: arb-validator

update go + ts contract bindings
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-go/arbinfo.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-provider-ethers, arb-provider-go, arb-validator

fix pet shop onload listener
  demos/pet-shop/src/app.js
Due: none

update install-deps script to work with catalina permissions
  scripts/install-deps
Due: none

Add libff and secp256k1 to arb-avm-cpp compilation
  .gitignore
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/external/CMakeLists.txt
Due: arb-avm-cpp

MockEth cleanup to merge non mock changes
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/arbbridge/challengeTester.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/ethbridge/arbClient.go
  packages/arb-validator/ethbridge/challengeTester.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/arbFactory.go
  packages/arb-validator/mockbridge/challengeTester.go
  packages/arb-validator/mockbridge/mockEth.go
Due: arb-validator

Add optional time limit to assertions
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/checkpoint_test.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-util/common/timeticks.go
  packages/arb-util/machine/machine.go
  packages/arb-validator/challenges/defender.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollupmanager/manager.go
  packages/arb-validator/rolluptest/evilMachine.go
  packages/arb-validator/rollupvalidator/rpcserver.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-cpp, arb-avm-go, arb-util, arb-validator

Add chrono include to fix linux build
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
Due: arb-avm-cpp

Go compat and test fixes
  packages/arb-avm-go/vm/instructions_test.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-go, arb-validator

Test Fixes
  packages/arb-validator/challenges/executionChallenge_test.go
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb-validator

Bugfix
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-bridge-eth/geth/ethbridge.json
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/rollup/opinionThread.go
Due: arb-avm-cpp, arb-bridge-eth, arb-validator

Revert "Bugfix"
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-bridge-eth/geth/ethbridge.json
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/rollup/opinionThread.go
Due: arb-avm-cpp, arb-bridge-eth, arb-validator

Revert "Revert "Bugfix""
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-bridge-eth/geth/ethbridge.json
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/rollup/opinionThread.go
Due: arb-avm-cpp, arb-bridge-eth, arb-validator

Fix hasTimeLimit check
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/testmachine/machine.go
Due: arb-avm-go, arb-validator

Check time less frequently
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-go/vm/machinestate.go
Due: arb-avm-cpp, arb-avm-go

Add max time bounds width as a chain parameter
  packages/arb-bridge-eth/contracts/vm/ArbFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/IArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSys.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSysFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-go/arbsys.go
  packages/arb-validator/ethbridge/arbFactory.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/structures/params.go
Due: arb-bridge-eth, arb-provider-ethers, arb-provider-go, arb-validator

Change back to 2-second block time
  packages/arb-bridge-eth/geth/ethbridge.json
  packages/arb-util/common/timeblocks.go
  packages/arb-util/common/timeticks.go
  packages/arb-validator/challenges/challenge.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/checkpointing/asyncCheckpointWriter.go
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/rollup/cleanupThread.go
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/opinionThread.go
Due: arb-bridge-eth, arb-util, arb-validator

Fix test error
  packages/arb-validator/challenges/executionChallenge_test.go
Due: arb-validator

Replace confirmValid and confirmInvalid in ethbridge with multistep confirm function
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb-bridge-eth

Fix challenge tests
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/ethbridge/executionchallenge/calls.go
  packages/arb-validator/ethbridge/pendingTopChallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/calls.go
  packages/arb-validator/ethbridge/rollup/calls.go
  packages/arb-validator/ethutils/calls.go
Due: arb-validator

Fix MaxTimeBoundsWidth
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/structures/params.go
  packages/arb-validator/structures/structures.pb.go
  packages/arb-validator/structures/structures.proto
  packages/arb-validator/testmachine/machine.go
Due: arb-provider-go, arb-validator

Path conditions:
  arb-avm-cpp: any of: packages/arb-avm-cpp
  arb-avm-go: any of: packages/arb-avm-go
  arb-bridge-eth: any of: packages/arb-bridge-eth
  arb-compiler-evm: any of: packages/arb-compiler-evm
  arb-provider-ethers: any of: packages/arb-provider-ethers
  arb-provider-go: any of: packages/arb-provider-go
  arb-provider-truffle: any of: packages/arb-provider-truffle
  arb-provider-web3: any of: packages/arb-provider-web3
  arb-util: any of: packages/arb-util
  arb-validator: any of: packages/arb-validator
