Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb-avm-cpp, arb-avm-go, arb-bridge-eth, arb-compiler-evm, arb-provider-ethers, arb-provider-go, arb-provider-truffle, arb-provider-web3, arb-util, arb-validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      arb-avm-cpp:
        flags: arb-avm-cpp
      arb-avm-go:
        flags: arb-avm-go
      arb-bridge-eth:
        flags: arb-bridge-eth
      arb-compiler-evm:
        flags: arb-compiler-evm
      arb-provider-ethers:
        flags: arb-provider-ethers
      arb-provider-go:
        flags: arb-provider-go
      arb-provider-truffle:
        flags: arb-provider-truffle
      arb-provider-web3:
        flags: arb-provider-web3
      arb-util:
        flags: arb-util
      arb-validator:
        flags: arb-validator

flags:
  arb-avm-cpp:
    paths:
      - packages/arb-avm-cpp
  arb-avm-go:
    paths:
      - packages/arb-avm-go
  arb-bridge-eth:
    paths:
      - packages/arb-bridge-eth
  arb-compiler-evm:
    paths:
      - packages/arb-compiler-evm
  arb-provider-ethers:
    paths:
      - packages/arb-provider-ethers
  arb-provider-go:
    paths:
      - packages/arb-provider-go
  arb-provider-truffle:
    paths:
      - packages/arb-provider-truffle
  arb-provider-web3:
    paths:
      - packages/arb-provider-web3
  arb-util:
    paths:
      - packages/arb-util
  arb-validator:
    paths:
      - packages/arb-validator

Fix race condition
  packages/arb-validator/message/erc20.go
  packages/arb-validator/message/erc721.go
  packages/arb-validator/message/eth.go
  packages/arb-validator/message/transaction.go
Due: arb-validator

Bugfixes
  packages/arb-validator/checkpointing/dummyCheckpointing.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Attempt duplicate symbol fix
  .circleci/config.yml
Due: none

Integrate test
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/checkpointing/dummyCheckpointing.go
Due: arb-provider-go, arb-validator

Integrate test
  packages/arb-validator/rollup/rollup_test.go
Due: arb-validator

Clone value to avoid race condition
  packages/arb-util/hashing/hashing.go
Due: arb-util

Further data race fix
  packages/arb-util/hashing/hashing.go
Due: arb-util

MockEth cleanup to merge non mock changes
  packages/arb-validator/mockbridge/arbClient.go
  packages/arb-validator/mockbridge/arbFactory.go
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/mockbridge/mockEthNodeGraph.go
Due: arb-validator

Implement snapshotting of chain state
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/Snapshot.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Update arb-provider-ethers for new lazy tx system
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb-provider-ethers

script edit
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-provider-ethers, arb-validator

Add tx to make deadline-stakers snapshot
  packages/arb-bridge-eth/contracts/vm/Snapshot.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

Allow each client to create multiple snapshots
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/Snapshot.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
Due: arb-bridge-eth

fix test and cleanup
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/messagestack.hpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/keyvaluestore.cpp
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-avm-cpp, arb-bridge-eth, arb-provider-ethers, arb-validator

update messagestack usage
  packages/arb-avm-cpp/app/main.cpp
Due: arb-avm-cpp

Bug fixes and cleanup for interop
  demos/interop/dist/index.html
  demos/interop/src/app.js
  packages/arb-compiler-evm/arbitrum/evm/chain_state.py
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-validator/evm/evm_advise.go
  packages/arb-validator/rollup/rollup.go
Due: arb-compiler-evm, arb-provider-ethers, arb-validator

Removed compiled.json dependency from js providers
  demos/election/src/app.js
  demos/interop/src/app.js
  demos/pet-shop/src/app.js
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-provider-web3/index.js
Due: arb-provider-ethers, arb-provider-web3

Add render on confirmation so lockbox is accurate
  demos/interop/src/app.js
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb-provider-ethers

Add call support to compiler
  packages/arb-compiler-evm/arbitrum/evm/accounts.py
  packages/arb-compiler-evm/arbitrum/evm/arbsys.py
  packages/arb-compiler-evm/arbitrum/evm/compile.py
  packages/arb-compiler-evm/arbitrum/evm/contract_abi.py
  packages/arb-compiler-evm/arbitrum/evm/contract_templates.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/evm/memory.py
  packages/arb-compiler-evm/arbitrum/evm/os.py
  packages/arb-compiler-evm/arbitrum/evm/stack_ops.py
  packages/arb-compiler-evm/arbitrum/evm/types.py
  packages/arb-compiler-evm/arbitrum/tests/test_evm.py
Due: arb-compiler-evm

Split up DeliveredMessage type
  packages/arb-validator/arbbridge/events.go
  packages/arb-validator/evm/evm_advise.go
  packages/arb-validator/message/erc20.go
  packages/arb-validator/message/erc721.go
  packages/arb-validator/message/eth.go
  packages/arb-validator/message/message.go
  packages/arb-validator/message/transaction.go
  packages/arb-validator/structures/inbox.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-validator

Add call support to ethers
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb-provider-ethers

Add call support to go
  packages/arb-validator/evm/evm_advise.go
  packages/arb-validator/message/call.go
  packages/arb-validator/message/message.go
  packages/arb-validator/rollupvalidator/server.go
Due: arb-validator

Update sequence number handling in ethers and web3
  demos/election/src/app.js
  demos/interop/src/app.js
  demos/pet-shop/src/app.js
  packages/arb-compiler-evm/arbitrum/evm/ArbSys.json
  packages/arb-compiler-evm/arbitrum/evm/accounts.py
  packages/arb-compiler-evm/arbitrum/evm/arbsys.py
  packages/arb-compiler-evm/arbitrum/evm/log.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-compiler-evm/arbitrum/vm_runner.py
  packages/arb-compiler-evm/contract-templates/contracts/ArbSys.sol
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSys.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSysFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-provider-web3/index.js
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/messagetester/messagetester.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb-compiler-evm, arb-provider-ethers, arb-provider-web3, arb-validator

Add updated sequence num support to arb-provider-go
  packages/arb-provider-go/arbinfo.go
  packages/arb-provider-go/arbsys.go
  packages/arb-provider-go/connection.go
  scripts/update-abi
Due: arb-provider-go

Add arbSnapshotClient interface and implementation
  packages/arb-bridge-eth/contracts/snapshot.go
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/Snapshot.sol
  packages/arb-bridge-eth/contracts/vm/Staking.sol
  packages/arb-provider-ethers/src/lib/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts
  packages/arb-validator/arbbridge/arbRollup.go
  packages/arb-validator/arbbridge/arbSnapshotClient.go
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/arbSnapshotClient.go
  packages/arb-validator/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator/ethbridge/challengetester/challengetester.go
  packages/arb-validator/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/ethbridge/globalpendinginbox/globalpendinginbox.go
  packages/arb-validator/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator/ethbridge/pendingtopchallenge/pendingtopchallenge.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/ethbridge/snapshot/snapshot.go
  scripts/update-abi
Due: arb-bridge-eth, arb-provider-ethers, arb-validator

Increase recommended maxSteps
  docs/Chain_parameters.md
Due: none

Add more message tests
  packages/arb-validator/message/erc20_test.go
  packages/arb-validator/message/erc721_test.go
  packages/arb-validator/message/eth_test.go
  packages/arb-validator/message/message.go
  packages/arb-validator/message/transaction_test.go
  packages/arb-validator/structures/pendingInbox.go
Due: arb-validator

Fix incompatibility in proofmachine test
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb-validator

Add pending call support to go provider (Fill in different behavior later)
  packages/arb-provider-go/connection.go
Due: arb-provider-go

Fix compiler tests
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
  packages/arb-compiler-evm/arbitrum/tests/test_evm.py
Due: arb-compiler-evm

Ignore generated code
  codecov.yml
Due: none

Reenable disabled challenge tests
  packages/arb-validator/challenges/challenges_test.go
Due: arb-validator

Update contract.ao to new versions
  packages/arb-provider-go/test/contract.ao
  packages/arb-validator/contract.ao
Due: arb-provider-go, arb-validator

Fix getCurrentNonce
  packages/arb-provider-go/connection.go
Due: arb-provider-go

Increase maxsteps in rollupServer
  packages/arb-validator/cmd/rollupServer/rollupServer.go
Due: arb-validator

MockEth cleanup to merge non mock changes
  packages/arb-validator/mockbridge/arbRollup.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/mockEth.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/opinionThread.go
Due: arb-validator

Fix mockbridge integration problem
  packages/arb-validator/mockbridge/executionChallenge.go
  packages/arb-validator/mockbridge/pendingTopChallenge.go
Due: arb-validator

Fix evilMachine integration problem
  packages/arb-validator/rolluptest/evilMachine.go
Due: arb-validator

Fix speedtest integration problem
  packages/arb-avm-cpp/speedtest/speed_test.go
Due: arb-avm-cpp
